[2022-01-05 17:42] #241 closed

[2022-01-05 17:46] #240 closed

[2022-01-05 17:48] #242 closed

[2022-01-05 18:10] jamesdoyle21 opened #251 "Units Not Updating Properly with Multiple Active Layers"
When the user activates a single layer and changes the units, it updates properly, but once they activate additional layer(s), things get finnicky. It seems like only the last activated layer is being updated, meaning if I activate 5, only the 5th I clicked will update the units when changed.

https://user-images.githubusercontent.com/82955395/148267381-334ca5f3-9f2b-4969-bdd2-12d47e20cdb9.mp4

[2022-01-05 18:11] jamesdoyle21 commented on #251
![image](https://user-images.githubusercontent.com/82955395/148267409-77c45f3a-c51c-4452-8725-7d489590f919.png)

[2022-01-05 18:29] jamesdoyle21 opened #252 "Organize Layer List in Traffic Light"
Selecting a layer in the traffic light tool can take some searching because there appears to be no order to them. As a user I would expect these to be ordered alphabetically.

https://user-images.githubusercontent.com/82955395/148269484-d4718fb6-35d2-432b-b863-93ac2dc31d23.mp4

[2022-01-05 18:30] jamesdoyle21 commented on #252
We may want these shown in the same order as they are in the data layers tool (by category). Open to discussion here.

[2022-01-05 20:56] jamesdoyle21 opened #253 "Traffic Light Tool Inside Data Layer Settings is only Showing Yellow"
Using the traffic light tool inside the data layer setting page is not updating at all. It only shows yellow for any layer. It seems to be working fine inside the traffic light tool tab though.

https://user-images.githubusercontent.com/82955395/148288215-6ae1417b-d347-4b82-a0b4-540bc63435dc.mp4

[2022-01-05 21:03] jamesdoyle21 opened #254 "Data Layers Disappear when the User Changes the Basemap"
When the user has data layer(s) activated and changes the basemap, the data layers disappear from the map even though they still show as active in the data layers tool and the legend.

https://user-images.githubusercontent.com/82955395/148289027-1a4a1e4a-77a3-4ced-b6b9-34146256a00b.mp4

[2022-01-05 21:16] jamesdoyle21 opened #255 "Change Default File Name of Screenshots"
To be consistent with other areas of OM3 that the user can export files from, we should change the default filename of screenshots to something like OceansMap_Screenshot(1).pdf

![image](https://user-images.githubusercontent.com/82955395/148290612-7aa4b455-d265-48a8-9fe6-05364cad8295.png)

[2022-01-05 21:40] mpiannucci commented on #254
Do not work on this... should be fixed by nicks layer PR

[2022-01-05 21:42] mpiannucci commented on #255
We should also let the user specify the file name if they want

[2022-01-05 21:52] kvmartin001 commented on #254
Yeah this is layer priority stuff

[2022-01-05 21:52] ndellicarpini commented on #254
PR: https://github.com/asascience/oceansmap-3/pull/162

[2022-01-05 22:00] mpiannucci opened #256 "Purge LESS and switch to CSS for styling"

[2022-01-05 22:02] jamesdoyle21 commented on #255
They can currently

[2022-01-06 14:33] jamesdoyle21 commented on #243
Using the traffic light tool inside the data layer setting page is not updating at all. It only shows yellow for any layer. It seems to be working fine inside the traffic light tool tab though.

https://user-images.githubusercontent.com/82955395/148398836-3f9bae81-2523-453a-92fe-bee01f4ae619.mp4

[2022-01-06 14:33] jamesdoyle21 commented on #253
Same as #243 closing..

[2022-01-06 14:33] #253 closed

[2022-01-06 17:48] ndellicarpini opened #257 "CSS Issues"
- Hover Tooltip for markers are incorrectly placed
- Resizing the window cuts off elements from MapTools

[2022-01-06 18:07] nguyandy commented on #257
btw the tooltip issue seems to be an issue w/ importing the mapboxgl style.

adding `import 'mapbox-gl/dist/mapbox-gl.css';` fixes the issue.
But I'm not sure how this happened.

[2022-01-06 18:37] ndellicarpini commented on #257
`import 'mapbox-gl/dist/mapbox-gl.css'` fixes the resizing & tooltip bugs, good call andy.

Through testing this a bit more, I've noticed very small changes in the style (ie. the observation drawer small error text has bigger line spacing, and buttons are now rounded rather than complete rectangles), but I haven't found any more bugs.

[2022-01-07 15:41] jamesdoyle21 commented on #246
I am holding off on closing this issue until we can see how the label looks placed above the title, just a heads up.

[2022-01-07 15:44] #203 closed

[2022-01-07 15:44] #256 closed

[2022-01-07 15:47] #254 closed

[2022-01-07 15:49] #257 closed

[2022-01-07 16:03] jamesdoyle21 commented on #223
@jonmjoyce

[2022-01-07 17:06] mpiannucci commented on #223
@cpaternostro We took a look at those offset files and it looks like those are for the original grids and not for the new RegularGrid configs that we have been using for visualizing the ROMS data. Do you think it would be possible to get these offset nc files translated to the same regular grids so we can be sure they are being applied correctly before serving the data? Thanks!

[2022-01-07 17:37] cpaternostro commented on #223
I'll see if the modeling team can create such a file.
Thanks for finding this problem.

--

Chris Paternostro

https://tidesandcurrents.noaa.gov/

(w) 240-533-0587

On Fri, Jan 7, 2022 at 12:06 PM Matthew Iannucci ***@***.***>
wrote:

[2022-01-07 19:22] nguyandy commented on #233
Putting this on hold til we have SSR in place.

[2022-01-08 00:20] mpiannucci commented on #233
Been fighting nextjs all day and I think long term it's a good solution to our injecting configs problem, but it's very hard...

In the meantime, I did find this, and with us being able to control colors dynamically now we can specify our metadata in env vars that gets us to where we need to be for the maracoos release https://create-react-app.dev/docs/adding-custom-environment-variables/

[2022-01-10 15:45] kvmartin001 commented on #246
@jamesdoyle21

Since the original PR is merged, I moved the labels in my latest PR. This is how they look. What do you think?

![image](https://user-images.githubusercontent.com/56608780/148794863-682a03f4-21b8-4d05-bc78-1c8ad0b34587.png)

[2022-01-10 16:18] mpiannucci commented on #246
that looks a lot better to me

[2022-01-10 20:58] mpiannucci commented on #233
Nextjs is super SSR dependent and we dont benefit enough for the effort needed. Instead we can use .env to mess wiht most of the metadata and it works pretty well.

Maybe long term we get SSR going but its not worth the time sink right now

[2022-01-10 22:10] kvmartin001 commented on #246
@jamesdoyle21 is it ok to move this back to PR submitted?

[2022-01-10 22:19] mpiannucci commented on #246
yes

[2022-01-11 14:11] jamesdoyle21 commented on #246
@kvmartin001 that looks much better on top with the gray surrounding box. Nice

[2022-01-11 15:02] mpiannucci commented on #191
This will be deployed to the maracoos staging server

[2022-01-11 17:04] #255 closed

[2022-01-11 17:37] nguyandy opened #258 "Support Channels"
<img width="809" alt="Screen Shot 2022-01-11 at 12 32 37 PM" src="https://user-images.githubusercontent.com/43226410/148992663-befac0f0-3b7e-4722-9d28-8323720766ca.png">

Missing this in OM3 atm.
catalogItem structure: https://oceansmap.maracoos.org/api/catalog?q=Fence

[2022-01-11 18:16] nguyandy opened #259 "Glider layer updates"
Missing legend for gliders.
Missing the glider path head on the map.
Missing handling for "drifters" - same as gliders

[2022-01-11 18:55] jamesdoyle21 commented on #172
@patrick-tripp did you have someone in mind who could take a look at this?

[2022-01-11 19:40] nguyandy commented on #258
Use `andys-catalog.json` to use the maracoos catalog.

[2022-01-11 19:50] nguyandy opened #260 "Missing Color Palettes option for EDS (coastmap) layers"
I could've sworn we had these.

<img width="329" alt="Screen Shot 2022-01-11 at 2 48 41 PM" src="https://user-images.githubusercontent.com/43226410/149011176-0c4cbd42-b544-40da-905a-e7ba7aa4259d.png">
<img width="367" alt="Screen Shot 2022-01-11 at 2 48 25 PM" src="https://user-images.githubusercontent.com/43226410/149011180-969243e1-01c9-4b72-9b0b-4cfef17e53b6.png">

[2022-01-11 19:53] jamesdoyle21 commented on #235
From our discussion earlier, these are going to be a lighter shade, not an opacity change.

[2022-01-11 19:53] nguyandy opened #261 "Active Tropical Cyclones layer not working"
No network calls made, no errors seen.
Not sure what happened here.

The other GIS layers are working without issues though.
<img width="711" alt="Screen Shot 2022-01-11 at 2 54 19 PM" src="https://user-images.githubusercontent.com/43226410/149011886-a940e3ae-c34e-4216-8382-f11bf60feb9c.png">

Might be an issue with the arcgis token handling?

[2022-01-11 20:48] mpiannucci commented on #261
Its probably the tokens

[2022-01-12 01:37] mpiannucci commented on #244
Steps to get this ticket through:

- [x] Create unified dockerfile
- [x] Create circleci automated builds to ECR
- [x] Move ARCGIS secrets to backend
- [x] Update automated build to use maracoos and OTT values so images build automatically

[2022-01-12 14:56] nguyandy commented on #261
Was a problem with the OM1 maracoos catalog.

https://github.com/asascience/data-catalog/pull/969
OM1 was being hacky with the cyclone layers and didn't use a proper endpoint.
Also had to add a additional category to the layer `gis_layers`

We're back up and running w/ the updated catalog.
<img width="1056" alt="Screen Shot 2022-01-12 at 9 55 15 AM" src="https://user-images.githubusercontent.com/4

[2022-01-12 17:26] nguyandy commented on #259
drifters can vary in color :(
![image](https://user-images.githubusercontent.com/43226410/149190853-24731f4b-a1a5-46ea-b5e8-c9173aa11c56.png)

[2022-01-12 17:34] mpiannucci commented on #259
Is this defined in the catalog?

[2022-01-12 17:37] nguyandy commented on #259
Yea, there's a extras.drifter_type field 👍
Shouldn't be an issue, just gotta create a map for it.

https://oceansmap.maracoos.org/api/catalog?q=drifter

Odd thing is that drifter / drifter_type isn't even handled in OM1.
I guess because they're all unmanned (black) atm 😆

[2022-01-12 17:51] ndellicarpini commented on #245
This is definitely possible, but I think the way it would have to work is by actually setting the data layer filter text on permalink load, so it would look like this when om loads.

![Screenshot 2022-01-12 124524](https://user-images.githubusercontent.com/22432482/149194149-f1ca29ec-714e-4317-b657-a727b7777e6e.png)

If this is ok, I can go ahead and implement it. Also if I'm working in the permal

[2022-01-12 19:15] mpiannucci commented on #245
Yea sure permalinks are very important

[2022-01-12 19:16] mpiannucci commented on #259
hahah ahhhh gotcha great! sounds like we can handle it

[2022-01-12 21:54] mpiannucci commented on #260
![Screen Shot 2022-01-12 at 4 54 06 PM](https://user-images.githubusercontent.com/1832671/149228995-0ca949db-71c8-4492-8b4d-c710b408f27e.png)

Unsure if this was always here

[2022-01-12 22:06] mpiannucci commented on #260
uhhh where do these come from? Catalog? Or are they hard coded for EDS layers?

![Screen Shot 2022-01-12 at 5 05 11 PM](https://user-images.githubusercontent.com/1832671/149230443-b9fa1947-eb97-4dc1-b7ce-74ab4b886ca9.png)

[2022-01-12 22:07] mpiannucci commented on #260
Not sure what the best way to handle this is... do we host these ourselves? Do we just draw them?

[2022-01-12 22:09] nguyandy commented on #260
Just sitting in the OM1 codebase.
https://github.com/asascience/OceansMap/blob/master/oceansmap/static/json/color_ramps.json

[2022-01-12 22:11] mpiannucci commented on #260
Yeah it is just hard coded to look up from that for EDS Or does that come from catalog

[2022-01-12 22:25] nguyandy commented on #260
EDS -> data-catalog gives us the available style options for a layer + the recommended style.
The style images are also stashed in the codebase. Have to do more digging to see how this all fits together.

[2022-01-12 22:44] mpiannucci commented on #260
I can take a peek at putting together all the pieces tomorrow. Thanks!

[2022-01-13 15:10] mpiannucci opened #262 "Pull Catalog Using AWS SDK on the backend"
Change the frontend api to hit /api/catalog?name=${catalogName}

Have the backend stash the catalog for 10 mins at a time.

[2022-01-13 16:47] ndellicarpini opened #263 "Hover pop-up re-locks after manually closing"
Example:

https://user-images.githubusercontent.com/22432482/149372587-0e0ce55f-8d03-4353-a68c-30ab3473ba6e.mp4

[2022-01-13 21:10] mpiannucci commented on #260
I think I need to setup a general static content directory for the backend, and have the react app install to a second different static directory

[2022-01-13 21:16] #173 closed

[2022-01-14 15:17] mpiannucci commented on #260
Laid groundwork... waiting for https://github.com/asascience/oceansmap-3/pull/183 to hit master before mucking around in wms settings.

[2022-01-14 16:58] kvmartin001 commented on #258
I had the same idea as @nguyandy for this:

(from the Gliders PR https://github.com/asascience/oceansmap-3/pull/179)

Currently have channels working that way:
[code]

Was hoping to find some way to do layer grouping within Mapbox, and it looks like the geometry filter is going to work for that. I will change my channels layers to work the same as Andy's glider update.

[2022-01-17 19:19] ndellicarpini commented on #178
@mpiannucci is this pyxms work?

[2022-01-17 20:31] mpiannucci commented on #178
Yes this is pyxms. We can discuss but it's not a priority

[2022-01-17 21:12] #262 closed

[2022-01-17 21:16] #235 closed

[2022-01-17 21:25] jamesdoyle21 commented on #232
@kvmartin001 for this issue, the upper value listed on the traffic light rule slider represents the max value from the data? If so we should add a tool tip explaining this.

Also, it appears there is some limit on the slider where if the user clicks on the bar too far from either of the circles, nothing happens.

When the user hovers over the min or max text, the cursor changes, but clicking it do

[2022-01-17 21:27] jamesdoyle21 commented on #232
https://user-images.githubusercontent.com/82955395/149838704-93c4f0f7-8779-406e-9983-de145f5b158d.mp4

[2022-01-17 21:31] #263 closed

[2022-01-17 21:39] jamesdoyle21 commented on #232
Also a few min/max things:

- Wave direction should have a max of 360 deg
- Salinity min is currently 5 PSU, should be 0
- Air pressure should have a min of 0 Pa

[2022-01-17 21:39] #250 closed

[2022-01-17 21:41] #244 closed

[2022-01-18 14:13] kvmartin001 commented on #232
@jamesdoyle21 Yes, the two numbers that appear on the slider represent the data min & max. Tooltips are a good idea to make it clear.

The slider can be expanded/contracted with the up/down buttons in each input box above the slider. Typing a number higher than the current slider range will also expand it. You can't change the slider range by moving the slider itself.

The cursor change is just de

[2022-01-18 14:36] ndellicarpini commented on #232
@kvmartin001 I could take this issue if you have other work, as I'm currently working a bunch in the traffic light tool.

[2022-01-18 14:45] kvmartin001 commented on #232
@ndellicarpini Sure, have at it! Thanks

[2022-01-18 15:50] cpaternostro commented on #223
I just talked to the modeling team who told me that the regulargrid netCDF file contains a variable called, "zetatomllw" which is water level references to MLLW.

        float zetatomllw(ocean_time, ny, nx) ;
                zetatomllw:long_name = "free-surface referenced to mean lower low water" ;
                zetatomllw:units = "meters" ;
                zetatomllw:time = "ocean_time" ;

[2022-01-18 20:55] jonmjoyce commented on #223
Thanks for identifying that, @cpaternostro . So in order to represent the actual MLLW values I'm thinking I would create a new variable (named mllw) that would be a transformation from zeta. What is the correct conversion formula using zeta and zetatomllw?

Also what models does this need to be applied to?

[2022-01-18 21:06] mpiannucci commented on #223
This needs to be applied to every regulargrid OFS model.

Hm, wait @cpaternostro is that variable the offset between zeta and MLLW or is it the zeta in the MLLW datum (IE doesn't need to be transformed?)

[2022-01-18 21:35] cpaternostro commented on #223
I am creating a meeting for tomorrow with the modeler who knows this data.  Do y'all want to join the meeting?  If so what time is good for you?

[2022-01-18 21:59] mpiannucci commented on #223
I can make time anytime except between 1 and 3

[2022-01-18 22:05] jamesdoyle21 commented on #223
Same with me. Anything besides 1-3

[2022-01-19 14:35] jamesdoyle21 opened #264 "Wave Direction Layers Color Palette Only Showing East"
I understand there is no magnitude with this data layer, but I would expect the color palette to have the other directions listed, right? It would at least fill out that color palette image as it looks a bit odd with just "E"

![image](https://user-images.githubusercontent.com/82955395/150151817-3d2a949d-a921-4bf1-83b0-e836eecccf04.png)

[2022-01-19 14:37] jamesdoyle21 opened #265 "Current Layers Color Palettes not Showing"
![image](https://user-images.githubusercontent.com/82955395/150152049-84e7f6c9-6d61-44bf-bf10-e36bee095b4f.png)

[2022-01-19 14:41] #168 closed

[2022-01-19 14:43] #245 closed

[2022-01-19 14:45] #246 closed

[2022-01-19 14:46] jamesdoyle21 commented on #233
Is this issue all set @mpiannucci ?

[2022-01-19 14:54] jamesdoyle21 opened #266 "Create Different Marker Shapes for Grouping of Stations"
Yesterday, Chris brought up the idea of adding another layer of grouping to the data station layers. Some of these layers, like CO-OPS Stations, for example, have hundreds of pins. Can we further group these stations by the type of data they collect (ie any station with current data is square).

@cpaternostro we will need some guidance into how many groups and what the criteria is for them

[2022-01-19 15:06] mpiannucci commented on #223
@jonmjoyce No transformation needed, the variable shows the value of zeta referenced to MLLW, so its already transformed here

https://opendap.co-ops.nos.noaa.gov/thredds/godiva2/godiva2.html?server=https://opendap.co-ops.nos.noaa.gov/thredds/wms/NOAA/CBOFS/MODELS/2022/01/19/nos.cbofs.regulargrid.n006.20220119.t12z.nc

[2022-01-19 15:27] mpiannucci commented on #223
So in other words.... no action is needed for this from you anymore. Thank you!

[2022-01-19 15:27] mpiannucci commented on #223
New task is: Update ott catalog to point to zetatomllw for waterlevel layers

[2022-01-19 15:38] mpiannucci commented on #265
Don't touch this one yet

[2022-01-19 15:39] mpiannucci commented on #264
No that's not how it works, this is what pyxms does for single direction layers

[2022-01-19 15:40] #264 closed

[2022-01-19 15:44] mpiannucci commented on #265
This is just an artifact of the OFS layers being down. please dont test them until thye are fixed.

[2022-01-19 15:45] jamesdoyle21 commented on #265
Ah ok good to know that happens when the layers are down

[2022-01-19 15:48] jamesdoyle21 commented on #264
Alright, if we haven't heard anything about this from users, no need to add to the scope. I think it looks a bit weird, but if that is always how it has been, lets leave this one

[2022-01-19 15:51] mpiannucci commented on #264
This is directly the spec from FMIS and it comes from pyxms, so really should not change this unless we really need to.

There also isnt much info to show, its kinda pointless in my opinion to have all the directions there for no reason. Remember for vector layers it shows multiple arrows because the color changes with the speed, but for scalar direction layers all it is showing is the direction.

[2022-01-19 15:54] patrick-tripp commented on #223
Same here. Anytime except 1-3.

Patrick Tripp
Principal Software Engineer
RPS | North America
T  +1 401 661-8642
E  ***@***.******@***.***>

From: Chris Paternostro ***@***.***>
Date: Tuesday, January 18, 2022 at 4:35 PM
To: asascience/ott-coops ***@***.***>
Cc: Patrick Tripp ***@***.***>, Mention ***@***.***>
Subject: Re: [asascience/ott-coops] Fix the 2.94 ft Offset when Validating Waterline Dat

[2022-01-19 15:58] mpiannucci commented on #261
@nguyandy did you merge this into data-catalog?

[2022-01-19 16:00] mpiannucci opened #267 "EDS Layer Settings Don't Show Units"
The units are not shown for EDS layers. This also means that the ranges dont update when the unit systems change, they are effectively unitless

PYXMS Layer settings:
![Screen Shot 2022-01-19 at 10 59 31 AM](https://user-images.githubusercontent.com/1832671/150167989-5426f58c-462f-4923-9517-3fb70c3ac1ca.png)

EDS Layer Settings:
![Screen Shot 2022-01-19 at 10 59 41 AM](https://user-images.githubus

[2022-01-19 16:08] jamesdoyle21 opened #268 "Allow for Dynamic Searching in Data Layers Tool"
This came up in our conversation with Chris yesterday. Now that we can search for individual stations, that opens up a lot of possibilities for the user. There will be situations where a user will want to display multiple data stations on the map, but not display the whole layer. If we are able to allow them to use dynamic searching, we should be able to handle this.

Comma to display multiple sta

[2022-01-19 16:11] jamesdoyle21 commented on #268
This could go well beyond just displaying multiple data stations. If we see reasons a user would want more functionality with the data layer search, let's discuss it here.

[2022-01-19 16:23] mpiannucci commented on #268
think scripting:

[code]

or something like that with ands and ors

[2022-01-19 16:35] jamesdoyle21 commented on #268
I can't think of a situation where we would need anything besides AND and OR, but here is a list of all of Google's options:
https://ahrefs.com/blog/google-advanced-search-operators/

[2022-01-19 16:37] jamesdoyle21 commented on #268
This will also be useful as we move toward something we can call the "Transit Tool" because displaying multiple data stations on the map will be an important part of that.

[2022-01-19 17:18] kvmartin001 commented on #265
Yep I have seen this happen when layers are down for any reason

[2022-01-19 17:29] kvmartin001 commented on #266
@jamesdoyle21 when you say grouping, do you mean using just one pin to represent a cluster of nearby pins like this?
[https://docs.mapbox.com/mapbox-gl-js/example/cluster/](https://docs.mapbox.com/mapbox-gl-js/example/cluster/)

It's also possible to have different markers based on any criteria in the data.

[2022-01-19 18:00] mpiannucci commented on #266
No, he means make the marker a diff shape for different sensor types

[2022-01-19 18:29] cpaternostro commented on #266
I'd like to mimic the view of NOAA's Tides and Currents station selection
webpage <https://tidesandcurrents.noaa.gov/map/index.html?region=Florida>.
This page does have station clustering when zoomed out.  I like that, and
if you zoom into a cluster you will see different colored pins for
different types of stations (Water Level and Met, Water
Levels, Meteorological, Air Gap, Currents).  I like ho

[2022-01-19 18:34] jamesdoyle21 commented on #266
@cpaternostro do you like these 5 groups, specifically? Or do we want to modify this list?

![image](https://user-images.githubusercontent.com/82955395/150192804-9f4e692c-f2e3-42a6-8006-01e6b9ad8d52.png)

[2022-01-19 18:37] jamesdoyle21 commented on #266
@kvmartin001 grouping by sensor(s) at each station. But you do bring up a good point that grouping stations when the user zooms out is also a nice feature. We would have to think about how that would work with pins with different shapes, shade, and color.

[2022-01-19 18:38] mpiannucci commented on #266
Some history, We do this is in OM1 currently with a custom clustering algorithm, originally we were planning to implement the algorithm but never got around to it because its a tough problem to think of, and to handle

[2022-01-19 20:54] kvmartin001 commented on #266
I can see why. But making different marker shapes is straightforward. I can use premade SVGs or make them in Inkscape, then grab the SVG code and put it in MapUtils. We can modify any part of the SVG with data-driven properties, like the fill / stroke color of different parts of the marker.

[2022-01-20 17:06] ndellicarpini commented on #234
would it make sense for me to not allow users to enable traffic light layers where there are no shared times between all of the enabled rules?

[2022-01-20 17:13] jamesdoyle21 commented on #234
Can you elaborate @ndellicarpini

[2022-01-20 17:24] ndellicarpini commented on #234
@jamesdoyle21 To create a traffic light layer, you combine any number of layers (rules) from the data layer list. Each data layer has a list of times when data was collected (valid times). Because of this, it is very possible for a user to enable 2 different rules that have completely different lists of valid times.

My current approach to handle out of date data is to find all of the shared times

[2022-01-20 17:35] jamesdoyle21 commented on #234
Ok, got it. So if the user selects a time in which one of the rules has out of date data, you are just looking for the closest time in which both rules have shared times of data, correct? And you are asking what to do if there are no overlapping shared times?

Thoughts:
1. When you round to a shared time that is not the time the user selected, we need to add a notification that tells the user this

[2022-01-20 17:41] mpiannucci commented on #234
@ndellicarpini You should really look at the pyxms source to consult how the time is handled there and make sure the UI just amkes that clear. Traffic lights are built to spec for FMIS so we dont want to mess with logic too much

[2022-01-20 17:43] ndellicarpini commented on #234
Responses:

1. I'm going to use the same notification system that we currently have for out of date data layers, but just add traffic light layers.
2. I probably won't do a notification to show this, I would just not allow the user to save the traffic layer, and add some error text next to the save button.
3. There is no limit to the max time difference between current time & layer time. If we wan

[2022-01-20 17:44] ndellicarpini commented on #234
@mpiannucci I've just been checking the catalog extents of each rule for the valid times & getting the shared times. Is this not a valid approach?

[2022-01-20 17:46] mpiannucci commented on #234
I believe that makes sense, but im just saying that you should check the way those layers are actually created by pyxms to make sure your erros line up with what pyxms is doing

[2022-01-20 17:46] jamesdoyle21 commented on #234
1. Sounds good.
2. Sounds good. I like that better.
3. Hold off on making any rules for this for now. This is a conversation we can have with the client.

[2022-01-20 20:38] cpaternostro commented on #266
Yes,
This list is best for creating the shapes of the blue CO-OPS stations.

--

Chris Paternostro

https://tidesandcurrents.noaa.gov/

(w) 240-533-0587

On Wed, Jan 19, 2022 at 1:34 PM James Doyle ***@***.***>
wrote:

[2022-01-20 21:58] mpiannucci opened #269 "EDS Layers need to be image layers instead of tile layers"
EDS realllllyyy isnt built for tiling layers, so instead these layers should be image sources with raster layers

[2022-01-21 13:10] nguyandy opened #270 "Clicking on a marker should set the MapClickEvent lat lng to the marker location"
https://user-images.githubusercontent.com/43226410/150532557-a63abaa3-b6a7-43f5-abb3-473f18da210b.mov

This is happening with Virtual stations + collections from the layer list.

[2022-01-21 14:45] nguyandy commented on #267
Been playing around with this one. Doesn't look like units are available from EDS in getcap, not included CatalogItem either.

[2022-01-21 14:48] ndellicarpini opened #271 "Handle Missing Point Obs Palettes"
In the Maracoos catalog the following point obs layers do not have palettes defined, causing a crash when trying to load them:
- Weatherflow Stations
- Surfrider
- Maryland Dept of Natural Resources
- Atlantic Shores

[2022-01-21 15:19] nguyandy commented on #267
Lol went to go check how OM1 deals with this... they don't
<img width="330" alt="Screen Shot 2022-01-21 at 9 56 21 AM" src="https://user-images.githubusercontent.com/43226410/150548515-9fddc67d-16f1-4eaa-8d6c-b7a4b0bd52ac.png">

Just talked to Tim, doesn't look like there's a way to pull units atm besides GFI requests. He's gonna try to get the units included in the getCap by default for the marac

[2022-01-21 15:21] mpiannucci commented on #267
ohhhh mannnn

[2022-01-21 15:25] jamesdoyle21 commented on #267
Well that annoying..

[2022-01-24 15:16] nguyandy commented on #68
fyi:
https://github.com/asascience/OceansMap/blob/master/oceansmap/static/js/views/HighchartsView.js#L844

[2022-01-24 15:19] jamesdoyle21 commented on #269
![image](https://user-images.githubusercontent.com/82955395/150810791-36af2c1b-c59f-407d-9f1c-44877aebef5c.png)

[2022-01-24 15:27] mpiannucci commented on #269
https://coastmap.com/ecop/wms.aspx?service=WMS&request=GetMap&version=1.1.1&layers=RTOFS_3D_SALINITY_FORECAST&styles=SST_USCG-winter-0-40&width=256&height=256&format=image/png&transparent=true&time=2022-01-24T15:00:00.000Z&srs=EPSG:3857&bbox=-7748880.1794380285,4148390.399093084,-7670608.662474008,4226661.916057106

![Screen Shot 2022-01-24 at 10 27 52 AM](https://user-images.githubusercontent.com

[2022-01-24 17:27] kvmartin001 commented on #269
@mpiannucci Check this out (on the maracoos catalog)
It's like EDS is only including raster cells in the tile if a cell is 100% inside the tile area. Cells that overlap the edges are getting cut off.

![image](https://user-images.githubusercontent.com/56608780/150832977-deee4953-68a7-46fa-bdbd-809fe8dd037a.png)

[2022-01-24 20:33] kvmartin001 commented on #68
I have this working with a similar function to the OM1 code, but there are two problems with it currently.
1. My function is way too slow. It takes about 15 seconds to process the new dataset and display it.
2. It's tough to determine how much time should be considered a gap. Coops station cb0402 updates every 300-700 seconds, but frequently has gaps of 1000ish seconds. If I set the cutoff to be 2

[2022-01-24 20:37] cpaternostro commented on #68
All CO-OPS real-time stations should be reporting at 360 seconds.  6
minutes is our standard.

--

Chris Paternostro

https://tidesandcurrents.noaa.gov/

(w) 240-533-0587

On Mon, Jan 24, 2022 at 3:33 PM Kevin Martin ***@***.***>
wrote:

[2022-01-25 21:32] kvmartin001 opened #272 "Directional data crash when Time Range is several months back"
Unsure if this is a Data Catalog issue or OM3 issue, but this crash happens when:

- the Time Slider is set to a range far in the past (example: October 20-28, 2021)
- directional data (e.g. wind direction, current direction) is selected in the Observation Drawer

Permalink to an example of the crash:
(CO-OPS station)

[http://localhost:3000/?permalink=N4IgtghgDgQjD2APEAuUB9Azgd1aANgHYDmqAtAOwBsAd

[2022-01-26 13:05] jamesdoyle21 opened #273 "Establish the Default View when User Launches OM3"
I'll plan to bring this up in the meeting today with Kelly and the client

[2022-01-26 15:16] ndellicarpini commented on #252
What do you think about this? Keeps the order of the data layer list with the collection titles in brackets on the left.
![Untitled](https://user-images.githubusercontent.com/22432482/151190779-4c6bd55b-6985-4bc1-8335-1572b5a91c0f.png)

[2022-01-26 15:25] jamesdoyle21 commented on #252
Ooo I like this. Are the collection titles grouped together? Also, do any of the data layers get cut off? That would be a show stopper

[2022-01-26 15:28] nguyandy commented on #252
We can always extend the width of the dropdown to fit the text if needed!

[2022-01-26 15:59] ndellicarpini commented on #252
Yes

This is what extending the width of the dropdown looks like, let me know if this is ok:
![Untitled](https://user-images.githubusercontent.com/22432482/151199062-f37aaab8-b485-4063-b044-372a6d4a80ca.png)

Note: this will extend the dropdown to match its contents, so if there's ever a layer title that's ~2x the length of our current max it will probably look pretty bad.

[2022-01-26 16:03] jamesdoyle21 commented on #252
Nice, I think this looks good.

Are you able to set a max character limit for the width?

[2022-01-26 16:51] ndellicarpini commented on #252
Not max chars, but I was able to set the max width to the size of the traffic light rule box.

[2022-01-26 17:21] ndellicarpini opened #274 "Legend Style missing in Screenshots"
![Untitled](https://user-images.githubusercontent.com/22432482/151213850-ffe08a6d-10d7-4b06-8b45-8ce7682231a6.png)

[2022-01-26 19:03] mpiannucci commented on #274
Whats missing?

[2022-01-26 20:45] ndellicarpini commented on #274
This is what the actual legend looks like for the same layers, namely the font styling is missing

![Untitled](https://user-images.githubusercontent.com/22432482/151244117-b1e3d7cb-dcf4-4e5f-880c-359e637a713e.png)

[2022-01-26 22:30] mpiannucci opened #275 "Customize Multivariate Traffic Light Legend"
The multivariate traffic light legend should show a better view of what it is actually representing, basically duplicate what is shown in the traffic light tool

![Screen Shot 2022-01-26 at 5 28 55 PM](https://user-images.githubusercontent.com/1832671/151258037-e28c25ff-c9a4-4457-8c3b-7dcbd5e91055.png)

Permalink for reference:

http://20.85.242.58/?permalink=N4IgtghgDgQjD2APEAuUB9Azgd1aANgHYDmqAt

[2022-01-27 15:36] #191 closed

[2022-01-27 15:49] mpiannucci opened #276 "EDS Color Palettes not working on Maracoos Deployment"
They work fine running locally, likely a subdirectory issue

![Screen Shot 2022-01-27 at 10 47 47 AM](https://user-images.githubusercontent.com/1832671/151393696-edcde48c-e292-4e12-a68a-28826869d74c.png)

[2022-01-27 15:55] mpiannucci commented on #273
Per kelly this should just be the same as existing maracoos site

* gliders
* active tropical cyclones
* AVHRR 7 day composite

[2022-01-27 15:55] mpiannucci commented on #276
![Screen Shot 2022-01-27 at 10 55 09 AM](https://user-images.githubusercontent.com/1832671/151394829-0ff9a34e-a9dc-4bf6-ad5f-92effb023723.png)

[2022-01-27 16:02] mpiannucci commented on #273
OTT will use permalinks so less important to them

[2022-01-27 16:12] mpiannucci opened #277 "AVHRR Out of Date Notification is not correct"
AVHRR is a 7 day composite layer and it lags behind current time, need to rethink how notifications are calculated for observation layers that will never have data up to the current hour. For context, current maracoos site doesnt show an error at this same time. THis is proabbly an issue for Maracoos Radar layers too which are important to get right

![Screen Shot 2022-01-27 at 11 09 20 AM](https:

[2022-01-27 16:13] mpiannucci opened #278 "ARCGIS tokens api not working with subdirectory"
![Screen Shot 2022-01-27 at 11 13 21 AM](https://user-images.githubusercontent.com/1832671/151398289-cf644cd6-3dcc-47bd-81a6-1dc56e402a6e.png)

[2022-01-27 16:15] mpiannucci commented on #278
Fixed that but...
![Screen Shot 2022-01-27 at 11 15 28 AM](https://user-images.githubusercontent.com/1832671/151398746-5f05f0cc-79e4-40bf-a212-b67b6a049b21.png)

[2022-01-27 16:24] mpiannucci commented on #278
user error, just the subdir problem

[2022-01-27 16:32] mpiannucci commented on #269
There is no built in way to do this with mapbox that correctly determines image layer size for you. So to do this, we need to precompute how big the layer should be or adjust everytime the user moves around but thats kind of a shitty solution

[2022-01-27 16:35] kvmartin001 commented on #277
@mpiannucci What is the lag time supposed to be for this layer? The average timestep is only a few hours. There should probably be a config option to adjust the tolerance for this.

The config could be an object like `overrideLayerOrder`

[code]

[2022-01-27 16:37] mpiannucci commented on #269
https://dev.oceansmap.com/maracoos-next/?permalink=N4IgtghgDgQjD2APEAuUB9Azgd1aANgHYDmqAtAJwBMAdFQAwDM9AjPRQOwCsXAHAGxVeAGhD4IAF1RV+NCpwpcOnDvS4VeHAL6j0hAKZ4xJcupqMWvdVxaL1HfgBZR4qSkeOavDxX71eVlwMvIyOWjrg0ADKEgCe+IZoIACWACaoIBAATgDGAOLJmAAq8FDwxFnQABbJOSCihBBgiSAlZRXVtfUgElUArmAARo3J+BlVEhJQmCgA9LOY+lkAbks02TnEhfCE+MkGNDnwYLMbW5izWfqYEgtLy7XXswDq8Fn4qeht8OgAstCzf5QKL3JazCSjfSzejQ6HdG7xRKgVZZTDJHao

[2022-01-27 16:37] mpiannucci commented on #277
That requires knowing every layer ahead of time. So it probably needs to come from the catalog. Let me look

[2022-01-27 16:41] kvmartin001 commented on #269
Can't we do it with the `image` source type? If the bbox coordinates are precise enough, that should be enough to place and skew the image the right way

[2022-01-27 16:45] mpiannucci commented on #277
@kvmartin001 Please consult OM1 code to see how they are checking so we can take that into consideration since that looks correct for this layer right now

[2022-01-27 16:46] mpiannucci commented on #269
Yeah but we need to pass the size of the image we want to the WMS GetMap service so it looks high resolution enough and not warped, unfortunately mapbox wont do that for us i dont think

[2022-01-27 18:35] ndellicarpini commented on #272
Alright from my testing this is way more annoying than just issues with old data. What's actually happening is that Highchart is crashing when trying to create a windbarbs chart with over 1000 data points, which in our case is any timeseries that is greater than ~6 days long.

@nguyandy @mpiannucci What would be the solution here? I can also push a temp branch up / create a video & show that is is

[2022-01-27 19:52] kvmartin001 commented on #277
OceansMap uses a 6-hour threshold to determine if layer/station data is out of date.

[2022-01-27 19:52] nguyandy commented on #272
Well that's a crazy find..
At first I thought it might be due to the Highchart datagrouping, so I turned it off.
But nope, still crashes with the date range.

And if we disable data-grouping, then we run into the issue where the chart becomes too cluttered.
<img width="877" alt="Screen Shot 2022-01-27 at 2 27 51 PM" src="https://user-images.githubusercontent.com/43226410/151432076-f04beb0c-10f6-4a

[2022-01-27 20:03] mpiannucci commented on #277
ok well have to think about this one

[2022-01-27 20:03] mpiannucci commented on #277
@jamesdoyle21 can you weigh in here

[2022-01-27 20:04] mpiannucci commented on #272
Yeah we should just thin the chart on an even interval i think, better to show something over the time than nothing

[2022-01-27 20:08] jamesdoyle21 commented on #277
Can we customize that threshold for each layer? We can set it to values that make sense for us now, then if the client comes back and wants it changed it should be easy to swap, right?

[2022-01-27 20:10] jamesdoyle21 commented on #277
Or maybe per customize it per data category would be better/easier. Like Matt said the other day, if water temperature is a few days behind, it's not a huge deal, but if wave height is then the user will want to know.

[2022-01-27 21:04] mpiannucci commented on #277
There are way too many layers to do it for every single layer unless its in the catalog, but even that is not perfect. Maybe for observation category stuff we use 6 hours, models we use otherwise

[2022-01-27 21:06] kvmartin001 commented on #272
Well that was an unexpected find @ndellicarpini . I thought 1000 was an oddly specific number so I researched it and found this -
https://api.highcharts.com/highcharts/plotOptions.series.turboThreshold

I guess the threshold could be increased or disabled by setting it to `0`. It's there for performance reasons though

[2022-01-27 21:10] kvmartin001 commented on #277
In my PR I did it by layer name for now, but the criteria can be changed easily. Should I make it by category?

[2022-01-27 21:18] ndellicarpini commented on #272
@kvmartin001 What a great find! I'm going to try and play with more, but by forcing the param it seems to avoid the crash.

[2022-01-27 21:19] mpiannucci commented on #277
Just hard code it for now so that observation categories use the 6 hour threshold

[2022-01-28 14:08] mpiannucci opened #279 "Make sure contour labels are synced with unit systems"
The UI counterpart with https://github.com/asascience/pyXMS/issues/71 . Notice the contours being for wave height in meters but the elevation slider shows that the global unit system is set to feet (imperial) We need to make sure that these are synced up.

![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/1832671/151560692-38c12b11-54ab-4f1a-aa4c-27344177712a.png)

[2022-01-28 14:14] mpiannucci opened #280 "Map Tools Drawer should go to the same height as the observation drawer on mobile"
Observation Drawer:

![Screen Shot 2022-01-28 at 9 10 30 AM](https://user-images.githubusercontent.com/1832671/151561706-a65e8b71-3a16-4f23-be20-2ff7137b952c.png)

Map Tools Drawer:

![Screen Shot 2022-01-28 at 9 10 47 AM](https://user-images.githubusercontent.com/1832671/151561714-e8ca8b55-b8bc-478d-9848-b0dc9208f885.png)

[2022-01-28 14:23] ndellicarpini commented on #275
I also made some slight tweaks to how rules are displayed. Right now I'm not the biggest fan of how this looks, but I'd like to get your opinion.

1 Rule Layer:
![Screenshot 2022-01-28 092109](https://user-images.githubusercontent.com/22432482/151563207-7775bf93-4fbf-4e39-b92e-456bec38cf88.png)

3 Rule Layer:
![Screenshot 2022-01-28 092148](https://user-images.githubusercontent.com/22432482/151563

[2022-01-28 14:35] mpiannucci commented on #275
I like your changes, can you just change the yellow to match the yellow thats on the map, and you can get rid of the original pyxms legend, we dont need both

[2022-01-28 15:16] mpiannucci opened #281 "Particles speeds need to be normalized to the grid"
Particle movements are calculated within the grid the size of the bounds of the layer, but are not normalized. This results in global layers and local layers needing drastically looking defaults to represent winds or currents of the same speed. These need to be normalized to provide a consistent experience across layers.

[2022-01-28 15:17] mpiannucci opened #282 "Add animated wave direction layers"
Show a custom animated webgl layer that just nudges particles or a shape in the direction of the layer at a given point

[2022-01-28 15:38] mpiannucci commented on #281
For Test:

This looks bad by default for a wind layer: https://dev.oceansmap.com/maracoos-next/?permalink=N4IgtghgDgQjD2APEAuUB9Azgd1aANgHYDmqAtABwCsAdAEwCcVAzAIx0AsD33AbAOwAaEPggAXVMw41eFVrypUGs+VXkBfYekIBTPCJLle0hgAYOs-lx5Nmw0RJQc6MhlLq8GXOj4r91muDQAMpiAJ74emggAJYAJqhBUABGSAAyMcQAFhLChBBgUSAZ2WIABADiAE4QYSDCYlkArmDJ+TH4iTliUJgoAPT90DE0kClINADG8GD9mOGRmP0Abqz9Y6mI-fiZOWSrpv1iHTpLdFS8-YfX9SDzEUUbS

[2022-01-28 15:42] mpiannucci commented on #281
Anf for reference, here is a good looking bit of settings for reference: http://20.85.242.58/?permalink=N4IgtghgDgQjD2APEAuUB9Azgd1aANgHYDmqAtAEwCsA7AHQDMAHACwAMTTAnAIzs9MKAGhD4IAF3I0edJgy4A2eQLY0qbLkwC+I9IQCmeUSVQ8aFOhQVKu1LlzbWaCkWMkoaDOjU9UmCrhoNJjYWBi0dcGgAZXEAT3xDNBAASwATVCioACMkaIl9fHwU8UMRQggwJJAASUhifQAnOJARcQALAFcwbIqU-Ez28XEoTBQAenHoFLpIHKQ6AGN4MHHMeMTMcYA3HnG53MQ1gqKS-TJtrnHxfv0t6gVxtie

[2022-01-28 15:55] ndellicarpini commented on #281
So to start I'll try and make the density a function of the bbox area, and then from there we can figure out if other aspects should be also dependent on map/layer attributes.

[2022-01-28 17:02] #258 closed

[2022-01-28 17:03] ndellicarpini commented on #281
actually scratch that, I think I'm going to make the density contingent on the current map zoom. I think from a user perspective it makes more sense that the density they set is universal regardless of zoom level, but we'll see if I run into re-rendering problems.

Edit: this is probably going to take some serious optimizations if I want to do this, I'll mess with that too.

[2022-01-28 17:11] #260 closed

[2022-01-28 17:14] #261 closed

[2022-01-28 17:15] #271 closed

[2022-01-28 17:16] #270 closed

[2022-01-28 17:21] #68 closed

[2022-01-28 17:30] #252 closed

[2022-01-28 17:34] #232 closed

[2022-01-28 17:42] #278 closed

[2022-01-28 17:42] #273 closed

[2022-01-28 17:42] #276 closed

[2022-01-28 17:47] jamesdoyle21 commented on #277
Do we want to revisit this one later? Or is what we have now enough?

[2022-01-28 17:51] jamesdoyle21 commented on #267
As it stands, if the user changes from metric to imperial, the numbers do not change in these layers. It's a pretty big deal if they think they are looking at 2 foot waves and they turn out to be 2 meters.. Can we at least add a tooltip or something notifying the user what units these actually are, even if we can't change them?

[2022-01-28 17:53] #274 closed

[2022-01-28 17:54] #272 closed

[2022-01-28 17:55] jamesdoyle21 commented on #234
@ndellicarpini can you explain how we ended up handling this? Or point me to where it is explained? Thanks

[2022-01-28 17:56] jamesdoyle21 commented on #210
I will review this when gliders are back

[2022-01-28 17:56] jamesdoyle21 commented on #259
I will review this when gliders are back

[2022-01-28 18:05] mpiannucci commented on #277
ITs good how it is now with the 6 hour defaults

[2022-01-28 18:05] #277 closed

[2022-01-28 18:05] mpiannucci commented on #267
Yup leave this open

[2022-01-28 18:09] ndellicarpini commented on #234
@jamesdoyle21 I can break down how I handled it.

So every layer has a list of times where it has data, and to get data you need to request the layer at one of these times. So for a traffic light layer with 1 rule, I treat it the same as we do regular data layers: it finds the nearest time where the layer has data (I'm going to call that a valid time from here on out) that is less than/equal to th

[2022-01-28 18:51] jamesdoyle21 commented on #234
Ok, to make sure I understand, when the traffic light layer is out-of-date, we still show it on the map, but we give the warning notification, correct?

And when 2 layers do not have an overlapping time, we give the error notification and the traffic layer does not show up on the map, yes?

[2022-01-28 18:56] ndellicarpini commented on #234
Correct, and it will show the data for the out-of-date time

Correct, but the traffic light layer request is still sent to the backend, it's just the backend will respond with blank data for the layer.

[2022-01-28 19:04] jamesdoyle21 commented on #234
Ok cool, that sounds good to me. I'll close this

[2022-01-28 19:04] #234 closed

[2022-01-28 23:31] kvmartin001 opened #283 "Quick Add Virtual Stations does not work on mobile"
If you try to Quick Add on mobile, the vStation tool blocks you from interacting with the map.
Two ideas to fix this:

- Make the whitespace of the tool's container div transparent and give it `pointer-events: none`
- Make the height of the tool dynamic so that it shrinks towards the top of the screen while it's waiting for quickAdd clicks

Both solutions would reveal the map behind the vStation t

[2022-01-28 23:35] kvmartin001 commented on #283
Also happens when adding a single station

![image](https://user-images.githubusercontent.com/56608780/151635719-e997a2cb-755c-4630-be62-a838dc5a4ddd.png)

[2022-01-31 15:25] mpiannucci commented on #269
On hold while we talk to Tim

[2022-01-31 15:27] mpiannucci commented on #281
https://github.com/mapbox/webgl-wind

https://mapbox.github.io/webgl-wind/demo/

https://blog.mapbox.com/how-i-built-a-wind-map-with-webgl-b63022b5537f

[2022-01-31 17:28] mpiannucci opened #284 "Legend doesnt show correct values for units"
The values dont match much the unit label does

![Screen Shot 2022-01-31 at 12 24 32 PM](https://user-images.githubusercontent.com/1832671/151842744-6c607f18-1d4a-48b1-9c82-cfcd39934cd6.png)

[2022-01-31 17:32] ndellicarpini commented on #281
After looking at those links, I have a much better understanding of how you are using the framebuffer and why, and it makes a lot of sense in its current implementation. If you can, I'd like to chat soon about trying to make particle density somehow contingent on map zoom level, but that's realistically outside the scope of this issue.

As for this issue, I'm thinking of just making particle speed

[2022-01-31 17:49] jamesdoyle21 commented on #281
Sounds good, Nick. And yes, I agree that particle density should be it's own issue. Not a high priority right now, but when you are ready to look at it and write out you ideas, go ahead and make a separate issue for it

[2022-01-31 18:31] mpiannucci commented on #281
Awesome nick, that sounds like a great approach. After you get the speed right we can chat about the density

[2022-01-31 21:13] mpiannucci opened #285 "Add autoscale options to Wms Settings"
Using pyxms, we can build in two different kinds of autoscale to the WmsSettings. There are two reasons autoscale is powerful:
* If you dont know the range the current data, autoscale allows you to see the fukll range of data spread across the geospatial image.
* As you mvoe around on the map, you may want to adjust the scale to view the full color spectrum. Autoscale can do that automatically for

[2022-01-31 21:40] ndellicarpini opened #286 "Layer pushed to the bottom of the layer stack during settings update"
After a user changes the settings of a layer, whether it's a data layer or a traffic light layer, the layer is moved to the bottom of the layer stack. The layer stays at the bottom of all of the other layers until it fully updates, then it moves back to its original position.

[2022-01-31 21:48] #210 closed

[2022-01-31 21:49] #259 closed

[2022-01-31 21:51] #283 closed

[2022-01-31 21:52] #280 closed

[2022-01-31 22:01] jamesdoyle21 opened #287 "Change Traffic Light Legend to Include AND and OR"
When the user creates a layer with multiple rules, all of them must be true in order to display green. So instead of commas for green, use AND. Instead of commas for yellow and red, use OR

![image](https://user-images.githubusercontent.com/82955395/151880258-da3d2669-bf30-46a2-b8a4-5585d95df0da.png)

[2022-01-31 22:02] jamesdoyle21 commented on #287
I wonder if a tooltip would be helpful here too, explaining a bit further.

[2022-02-01 14:04] ndellicarpini commented on #287
Making a tooltip is certainly possible, but I have trouble imagining A.) where the user should hover that would activate the tooltip B.) what would be on the tooltip, as I'm not sure what it would look like with a lot of text to explain the rules.

[2022-02-01 15:43] ndellicarpini commented on #281
OK so here is a video. I was basically able to eyeball an algorithm for matching the speeds at different layer sizes. I think the different particles go the same speed, but I would like any opinions if you believe the speeds don't match. I also eyeballed adjusting the randomness, but there was no way to really calculate an algorithm for that since I can't match the randomness visually.

At the sta

[2022-02-01 16:03] ndellicarpini commented on #281
alright video's up

[2022-02-01 16:18] ndellicarpini commented on #287
This is what it looks like without tooltips:
![Screenshot 2022-02-01 111808](https://user-images.githubusercontent.com/22432482/152006993-fd7f215a-2bcd-4f6e-a791-2731a2287736.png)

[2022-02-01 16:19] ndellicarpini commented on #287
Maybe we should use programming syntax instead? like `&&` and `||`? I don't know if it's appropriate for our target users though.

[2022-02-01 16:28] ndellicarpini opened #288 "Layers being dropped from permalink"
It seems like only 1 layer is being activated after permalink loads? Requires more testing but something is definitely wrong.

[2022-02-01 16:34] mpiannucci commented on #288
Good catch: heres a permalink http://localhost:3000/?permalink=N4IgtghgDgQjD2APEAuUB9Azgd1aANgHYDmqAtAOwUB0AbAKwAMDFAzPbawCy0BMXAGhD4IAF1SsAHNQCMAThmS5vWnw5SZtAL5D0hAKZ5hJchRnUuXOd0kUuZ2nLmDhY1F0Z1Gkmc3p2rCn4tHXBoAGVRAE98QzQQAEsAE1QQCAAnAGMAcQTMABV4KHhidOgACwTMkCFCCDA4kELi0oqqmpBRcoBXMAAjOoT8VPLRUShMFAB6Kcx9dIA3eeoMzOI8+EJ8BINqTPgwKdX1zCn0-UxRWfmFqoupgHV4dPwk9Gb4dABZaCmfqHCN3mU1EQ30U0YEIhHUuMTioCW

[2022-02-01 16:38] mpiannucci opened #289 "3D Profile Plot force closes itself"
![profile_error](https://user-images.githubusercontent.com/1832671/152010680-4d9856ee-6a41-4ace-a894-6a542c22dc60.gif)

[2022-02-01 16:41] nguyandy opened #290 "Handle EDS depth/elevation layers"
example: RTOFS 3D layers

Need to handle non-sigma 3d layers from EDS.

[2022-02-01 17:07] jamesdoyle21 commented on #287
I like it the way it is for now. Let's test with a few outside users and go from there.

[2022-02-01 17:13] ndellicarpini opened #291 "Elevation slider remains after disabling layers that use it"

[2022-02-01 17:28] jamesdoyle21 commented on #291
Happens in both OTT and MARACOOS

[2022-02-01 17:57] jamesdoyle21 opened #292 "Add Legend Category Labels to All Layers"
The labels inside the legend that sort the layers there are great, so we should expand this to every layer that shows up there. In this example, there are Point OBS Stations, GIS Layers, and a Traffic Light Layer

![image](https://user-images.githubusercontent.com/82955395/152024025-f23ba54f-d9f4-4069-85e4-a04e114943df.png)

[2022-02-01 18:07] kvmartin001 commented on #292
@jamesdoyle21 I'll add this to the Markers PR since I'm already working on legends in there

[2022-02-01 18:49] cpaternostro opened #293 "Permalink - add deep-links into open properties on graphs"
When creating a Permalink, including a link into the properties of an open graph can really enhance the usability of the Permalink.
In this example, it would be nice to have the Permalink contain information about the opened station, and its One Minute Water Level graph.

![image](https://user-images.githubusercontent.com/62911145/152031570-0bb0e8ee-6ff0-480e-bd07-5dbb997e96ff.png)

[2022-02-01 18:52] mpiannucci commented on #293
Agreed this is the next step to accomplish with the perma-linking for sure

[2022-02-01 18:52] nguyandy opened #294 "3D slider persists even if there's no 3d layers enabled"

[2022-02-01 18:56] mpiannucci commented on #294
Dupe of #291

[2022-02-01 18:56] #294 closed

[2022-02-01 18:57] mpiannucci commented on #291
@ndellicarpini you and @nguyandy  both reported this so duke it out amongst yourselves who wants to work on it :)

[2022-02-01 18:59] nguyandy commented on #291
@ndellicarpini if you didn't start on this yet, I can take it.
I'm dealing with some other 3d issues already so this is a nice addition to my list :)

[2022-02-01 19:00] ndellicarpini commented on #291
@nguyandy you caught me just in time, it's all yours

[2022-02-01 19:22] nguyandy opened #295 "EDS 3d velocity plots not working"
Setup 3d velocity plots for EDS sources

ex: NOAA CBOFS 3D Currents

+ tooltip not working for bottom drawer

[2022-02-01 21:45] jamesdoyle21 opened #296 "Difficult to Select Stations on Map at the Top of the Map"
When the tooltip opens down it blocks the cursor from selecting the station

https://user-images.githubusercontent.com/82955395/152056581-eb9fd24b-ce67-41bf-acf4-ff065e300973.mp4

[2022-02-01 21:56] jamesdoyle21 opened #297 "Traffic Light not Showing Anything for Global Wind and Waves Together, but Work Separately."
@ndellicarpini this might be because the date ranges for valid data do not line up. If that is the case, we need to notify the user somehow because it just looks like a bug here.

https://user-images.githubusercontent.com/82955395/152058047-45c73c87-1cdf-4cf5-a655-5ff7da18cc80.mp4

[2022-02-01 22:02] jamesdoyle21 opened #298 "CBOFS Channel Layer not Showing Tooltips on Timeseries Plot"
https://user-images.githubusercontent.com/82955395/152058837-e7b3acda-86b6-444b-ab31-9316c8602ff6.mp4

[2022-02-01 22:04] jamesdoyle21 opened #299 "Minimize the Profile Plot when User Closes it"
We want the user to be able to access the profile plot after closing it. We discussed a small minimize window on the bottom left of the map.

https://user-images.githubusercontent.com/82955395/152058985-e66cf0ce-9731-45e1-bb24-4c149c2934e8.mp4

[2022-02-01 22:05] jamesdoyle21 opened #300 "Markers Should Cover Coastlines"
As it is now, coastlines are on top of markers. This should be reversed.

![image](https://user-images.githubusercontent.com/82955395/152059294-44f07de7-f3fa-4f1b-9fba-258bd2a4500e.png)

[2022-02-01 22:09] jamesdoyle21 opened #301 ""Map View" Should be Unhighlighted after the user Selects "All""
https://user-images.githubusercontent.com/82955395/152059719-6a256448-4fdc-45c1-b032-687df199059e.mp4

[2022-02-01 22:10] jamesdoyle21 opened #302 "CO-OPS and NERRS Sites Point OBS Stations Disappearing with "Map View" Click"
The stations are clearly within the bounds of the view, yet the layers disappear from the list when the user selects map view

https://user-images.githubusercontent.com/82955395/152059920-8eb23fc4-d4c8-436a-b0ce-96979c805d80.mp4

[2022-02-01 22:10] ndellicarpini commented on #300
this is layer sorting, so it might make more sense to assign to me

[2022-02-01 22:11] ndellicarpini opened #303 "Default layers don't update with unit system changes"
Layers enabled by default on OM load do not respond appropriately to unit system changes (such as the legend not updating). This is fixed by disabling->enabling the layer, or changing the layer's settings.

[2022-02-01 22:12] ndellicarpini opened #304 ""Contact Us" tool can create a scrollbar"

[2022-02-01 22:15] ndellicarpini opened #305 "Opening layer settings for specific layers causes a crash"
Active Tropical Cyclones & other Maracoos layers can cause this.

[2022-02-01 22:17] ndellicarpini opened #306 "Layer status being set to errored incorrectly"
- disabling a loading layer can cause this
- disabling an errored layer does not update the status

[2022-02-01 22:19] ndellicarpini opened #307 "Min/Max Data Values do not show in traffic light section in layer settings"
There are little numbers under the the min/max data dots on the slider. They do not show in the traffic light section of a layer's settings.

[2022-02-01 22:21] ndellicarpini opened #308 "Notification flashes if triggered while "Active Layers" is open"
If you enable a out-of-date layer, or trigger a notification in any other way, while the active layers pane is open, the notification will show for a second and then immediately close.

[2022-02-01 22:22] ndellicarpini opened #309 "Some layers show "undefined" as valid time in legend"
For example, all of the climatology layers in Maracoos cause this.

[2022-02-01 22:27] ndellicarpini opened #310 "Layers that support both arrows and barbs don't show palettes for arrows"
In layer settings, if that layer supports arrows and barbs, the color palettes will not show if the style is selected as arrows.

[2022-02-02 01:37] mpiannucci commented on #310
I could have sworn that I fixed this... But looks like it somehow got reverted

[2022-02-02 01:39] mpiannucci commented on #310
See also #229

[2022-02-02 02:00] mpiannucci commented on #310
I *think* that this is a pyxms regression... it was definitely working a while back.

[2022-02-02 02:05] mpiannucci commented on #310
See https://eds.ioos.us/wms/?REQUEST=GetLegendGraphic&LAYERS=GFS/u-component_of_wind_height_above_ground:v-component_of_wind_height_above_ground-group&STYLES=arrows/x-Rainbow&width=240&height=90&colorbaronly=true

[2022-02-02 02:10] mpiannucci commented on #229
As a note, the legends come directly from pyxms, so its controlled there.

[2022-02-02 14:39] ndellicarpini opened #311 "EDS Magnitude labels not working on some layers"
Some layers that support magnitude labels don't show the labels when you enable them. (Winds: Boston (NWPS))

Also, some layers can look not great when enabling magnitude labels:

Currents: NOAA Delaware Bay 3D (DBOFS)
![delaware magnitude label](https://user-images.githubusercontent.com/22432482/152173000-f55d227c-573b-4c17-8a37-0278a7af640d.png)

[2022-02-02 14:44] ndellicarpini opened #312 "Changing style on some layers doesn't work"
(Other: ChesROMS Alkalinity 3D) doesn't update when updating the style.

Also, as a little bonus, the colorscale range using a unit with such a long name breaks the styling of the layer settings page.
![chesroms](https://user-images.githubusercontent.com/22432482/152176182-70243323-b995-4b47-b27f-3eb9e4e9c55a.png)

[2022-02-02 14:49] mpiannucci commented on #311
This is pribabyl significantly affected by tiling EDS layers. Revisit this after that one

[2022-02-02 14:51] ndellicarpini commented on #290
Are Maracoos CBEFS 3D layers non-sigma as well? On OM1 the depth is listed as sigma, but these layers do not render on OM3.

[2022-02-02 14:56] ndellicarpini opened #313 "Enabling [Global (GFS) Air Pressure] causes lag"
Enabling Global (GFS) Air Pressure for some reason causes the data layer list to lag. Regardless of whether or not the layer actually is loading, or is even rendered, just enabling it is enough to cause a noticeable difference in the responsiveness of the layer list.

[2022-02-02 14:59] mpiannucci commented on #269
From Tim:

So Will try without tiling and see how that works out

[2022-02-02 15:10] ndellicarpini opened #315 "Layer setting groups should hide based on different user selections"
- if user sets style to contour -> both the Color Palette & Colorscale Range sections should hide.
- if user enables traffic light -> the style section should hide

[2022-02-02 15:11] ndellicarpini opened #316 "Disabling a grouped layer throws an error"
Example = Gliders

[2022-02-02 15:14] ndellicarpini opened #317 "EDS & WMS layers have different default data densities"
WMS:
![wms density](https://user-images.githubusercontent.com/22432482/152181750-2d476ad8-0d8b-4a0a-9e05-a61ef6c15b58.png)

EDS:
![eds density](https://user-images.githubusercontent.com/22432482/152181782-e1196595-c639-46f0-aae3-c43d515ca672.png)

[2022-02-02 15:17] ndellicarpini opened #318 "Legend uses 'degrees' for unit rather than symbol"
![degreesC](https://user-images.githubusercontent.com/22432482/152182191-74e51888-f3b0-4816-9b25-45a2d017fbd0.png)

[2022-02-02 15:21] nguyandy commented on #290
CBEFS 3D layers are sigma. That's weird, some CBEF layers aren't loading, but some do (ex: CBEF temperature).
I'll create a new issue for that. Thanks Nick

[2022-02-02 15:23] nguyandy opened #319 "Some CBEFS layers do not render on map"
ex: MARACOOS CBEFS 3D Oxygen

[2022-02-02 15:28] ndellicarpini opened #320 "Adjust "Zoom to Layer" to be slightly outside of the bbox"
Currently, zooming to a layer sets the map bounds to match exactly the greatest axis of the bbox (either width or height). This should probably be adjusted to set the map bounds to the layer bbox + ~10%, as I don't know if matching the bbox exactly is desirable.

[2022-02-02 15:32] ndellicarpini opened #321 "Data layer list should keep scroll position when closing layer settings"
This might be applicable to all sidebar tools, but it definitely is the most obvious with the data layer list. When returning from a sub-pane (such as layer settings) of a sidebar tool (such as data layer list), the sidebar tool should be at the same scroll position it was at when the sub-pane was opened.

This was the bane of my existence while testing layers.

[2022-02-02 15:35] jamesdoyle21 commented on #320
Going to veto this one. I like the way it is now, plus this might get screwed up for global layers

[2022-02-02 15:37] jamesdoyle21 commented on #321
Yeah this is more noticeable with the big Maracoos catalog. Would be nice, but lets save it for later

[2022-02-02 15:37] mpiannucci commented on #315
The colorscalerange is used for contours, it tells pyxms what the range of the data to draw the contours in, so dont hide that one

[2022-02-02 15:42] mpiannucci commented on #317
Thats on prupose, those functions do different things

[2022-02-02 15:42] #317 closed

[2022-02-02 16:02] jamesdoyle21 commented on #281
This looks good. But testing it really showed that nailing default settings for particles for different layers is going to be hard. Something to keep in mind for future work.

[2022-02-02 16:41] nguyandy commented on #295
+ wrong units are displayed
<img width="381" alt="Screen Shot 2022-02-02 at 11 41 40 AM" src="https://user-images.githubusercontent.com/43226410/152197667-05b3d735-84c9-4da2-805e-bcd5abbeed2d.png">

[2022-02-02 16:55] ndellicarpini opened #322 "Selected Traffic Light elevation does not respond to unit system changes"
After selecting a traffic light elevation, changing the unit system does not update the selected elevation, but does update the elevation if A.) its still the default & the user hasn't interacted with it B.) the user clicks the elevation dropdown after changing the unit system.

[2022-02-02 17:38] ndellicarpini commented on #297
This is a pyxms issue that happens when multiple rules are used and 1+ of those rules uses elevation.

[2022-02-02 17:46] kvmartin001 commented on #315
Suggestion:

- if user sets style to contour -> "Color palette" text should become "Contour interval", and "Colorscale range" should become "Contour range"

[2022-02-02 17:53] mpiannucci commented on #269
I have no idea how to handle this.... requesting an EDS layer for the given amount of pixels on the map and the bounding coords gives me this... EDS DOESNT ALIGN THE IMAGES TO THE COORDINATE SYSTEM?!?!?!??!:
![Screen Shot 2022-02-02 at 12 52 44 PM](https://user-images.githubusercontent.com/1832671/152209800-62a10bff-2364-4a1f-b999-a544e79e09e7.png)

https://coastmap.com/ecop/wms.aspx?service=WMS&r

[2022-02-02 17:57] kvmartin001 opened #323 "CoOps Visibility In Air data problem"
In all stations with Visibility in Air data, the y axis appears to be on an extremely small scale (5 - 7 E-12 miles), and the tooltip for the data always shows "0 miles"

The actual data plots look like what I would expect for visibility - they are at a constant high value most of the time with intermittent dips.

Example: CoOps station 8447412

![image](https://user-images.githubusercontent.com/5

[2022-02-02 18:15] nguyandy opened #324 "Display error message for failed profile plot requests instead of auto-closing profile plot"
relating to https://github.com/asascience/ott-coops/issues/289

When a profile plot request fails, it returns empty data.
Instead of closing the profile plot when there's no data, display in UI that there's an issue, instead of closing the profile plot.

Will bundle this task with this issue https://github.com/asascience/ott-coops/issues/299

[2022-02-02 18:20] mpiannucci commented on #269
Going back on the backburner

[2022-02-02 19:43] ndellicarpini opened #325 "Some Layers don't work with Traffic Light Tool"
Air Temperature: NOAA Global (GFS) does not work with when creating a traffic light layer, each tile gets this response:
`{"message": "'NoneType' object has no attribute 'group'"}`

[2022-02-02 22:04] kvmartin001 commented on #309
@ndellicarpini are there any other layer types currently doing this? The climatology layers aren't time dependent so they don't have time extents.

So there should be a case to handle non-time-dependent layers, but also the climatology layers are sending blank tiles ATM.

https://wms.oceansmap.com/wms/?service=WMS&request=GetMap&version=1.1.1&layers=HFR_Fall_Climatology/u_mean:v_mean-group&styles=

[2022-02-03 00:14] mpiannucci commented on #309
@kvmartin001 same with the extrema layers for floodMap

[2022-02-03 14:07] ndellicarpini commented on #309
@kvmartin001 probably not, I imagine it's only layers with no time extents that do this. So we should just create some way to handle layers without time extents.

As for returning blank tiles, that's probably a pyxms bug, as OM1 can get data for the climatology layers.

[2022-02-03 15:40] jamesdoyle21 commented on #267
@CoryMartinRPS @hluchka @tgiguere

[2022-02-03 16:29] ndellicarpini opened #326 "Set layer status on fetch extents"
For layers that fail on fetching extents, we can throw an appropriate error notification. Additionally, I think this change would allow the loading spinner to work with particle layers, which it currently doesn't.

[2022-02-03 17:01] nguyandy opened #327 "If a default map layer fails to load, om3 will fail to load any additional wms layers that are selected"
ex: w/ AVHRR7 being down, we're unable to load any wms layers on maracoos-next.
But if we disable the AVHRR7 layer as a default layer, layers work as expected

[2022-02-03 17:11] ndellicarpini opened #328 "Hide Color Palettes if there is only 1 option"
Should we hide the layer settings color palette if there is only 1 option? Layers like `Active Tropical Cyclones` and the gis layers only have 1 color palette.

![Untitled](https://user-images.githubusercontent.com/22432482/152393374-860576f5-a77f-481f-bab9-7c1ac206ea23.png)

[2022-02-03 17:32] #287 closed

[2022-02-03 17:38] #279 closed

[2022-02-03 17:40] #284 closed

[2022-02-03 17:55] #178 closed

[2022-02-03 18:53] ndellicarpini commented on #324
have you started this yet Andy? if not I think I am going to create a generic add notification function for https://github.com/asascience/ott-coops/issues/326

[2022-02-03 19:02] nguyandy commented on #324
I have not! Go for it 👍

[2022-02-04 01:18] kvmartin001 commented on #298
@jamesdoyle21 When this happened, did you do anything else right before opening these layers? The tooltips look fine on my end

https://user-images.githubusercontent.com/56608780/152456394-41376f3e-f9d4-4b19-b464-96b2800bf5f4.mp4

[2022-02-04 16:08] ndellicarpini commented on #313
I think this is caused by the number of time extents Global Air Pressure has. For some reason, `findClosestDate` is called on every layer change, which includes rendering the hover-bbox. This isn't a problem for most layers, as the majority of layers have <10000 time extents. For comparison, Global Air Pressure has ~400000 time extents.

It turns out you can very slightly notice this with other la

[2022-02-04 20:47] ndellicarpini commented on #313
The issue here is that the source & validate functions for every active layer are re-calculated for layer change, which includes the hover bbox. This is in general super inefficient, but didn't cause issues because those functions are usually pretty simple. It becomes an issue when dealing with 400000 date objects, and even trying to simplify the loop doesn't help as it seems like just dealing wit

[2022-02-07 15:17] #298 closed

[2022-02-07 15:36] kvmartin001 commented on #312
I think the alkalinity unit is supposed to be milliequivalents per cubic meter (not sure what meter-3 is supposed to mean). But alkalinity is usually measured in mEq / liter.

[2022-02-07 15:41] jamesdoyle21 commented on #328
Disable Color Palette for Layers with no options

[2022-02-07 16:34] jamesdoyle21 opened #329 "NWPS Wave Direction Layers Arrow Density Issue with Zoom"
At different zoom levels, the arrow density becomes out of whack

![image](https://user-images.githubusercontent.com/82955395/152830814-79a7f2e3-e87a-448a-96fc-d6f6f1cff701.png)

[2022-02-07 16:38] jamesdoyle21 commented on #329
Boston does this too

![image](https://user-images.githubusercontent.com/82955395/152831498-229279ed-c5b9-4472-a267-5605b5c277b4.png)

[2022-02-07 16:42] jamesdoyle21 opened #330 "NWPS Direction Layers have Color Palette Options"
This should not be an option, for any vector layer, correct? Or are the arrows themselves supposed to have the color scale?

![image](https://user-images.githubusercontent.com/82955395/152832242-f9eb26fd-2e75-4c9f-927f-28f5e079d732.png)

[2022-02-07 16:42] jamesdoyle21 commented on #330
OM1 does not have the color palette option

[2022-02-07 16:58] jamesdoyle21 opened #331 "HFR Climatology Layers Treated as Currents"
In the observation drawer, the label "Currents" is used. The style is arrows and the color palette are vector arrows, but it is a spatial layer

![image](https://user-images.githubusercontent.com/82955395/152835045-7aa85bbb-c5f6-4282-aac6-9166d1b1b574.png)

[2022-02-07 17:01] jamesdoyle21 commented on #331
Also, the units, cm/s, do not update when changed to imperial

[2022-02-07 17:09] jamesdoyle21 opened #332 "Elevation Slider Showing for RUWRF Layers (Which are not 3D)"
![image](https://user-images.githubusercontent.com/82955395/152837027-9797d6b6-cc86-448f-8dc3-c0b038723363.png)

[2022-02-07 17:17] jamesdoyle21 opened #333 "GFS, NAM, NDFD Wind Data Density Issue"
The arrows are so sparse by default, the spatial layer doesn't tell the user anything. The data density slider is not working

https://user-images.githubusercontent.com/82955395/152838472-618d85b1-e1e5-4619-ae24-80a3272cc4af.mp4

[2022-02-07 17:19] jamesdoyle21 commented on #330
Wind does this too

![image](https://user-images.githubusercontent.com/82955395/152838806-4dac7c53-3689-48e2-a107-830c0f699162.png)

[2022-02-07 17:23] jamesdoyle21 opened #334 "PyXMS Data Density Slider not working for any Layer"

[2022-02-07 18:34] ndellicarpini commented on #334
Does this happen with all layers or just when a layer's style is set to barbs? If the former, can you give an example layer where this happens? I know for barb layers, the data density is actually hard-coded in pyXMS for some reason, so changing it would have no effect.

What I did notice is if you change the style to barbs from something else (if the layer has a default style barbs -> change it t

[2022-02-07 18:37] ndellicarpini commented on #334
Wait, after looking at https://github.com/asascience/ott-coops/issues/333 is this just an issue for eds layers? If so I don't know if anything I've said applies.

[2022-02-07 18:37] jamesdoyle21 commented on #334
The end of this video shows an example. This is Global GFS Wind
https://user-images.githubusercontent.com/82955395/152850521-41d4d5ee-37f2-483b-9672-0744f214dc1b.mp4

[2022-02-07 18:41] ndellicarpini commented on #334
I think this issue is specific to EDS layers. I think there might just be a lot of issues with EDS layers that aren't color rasters, such as no data density slider where there should be, color palettes where there shouldn't be, and the density slider not even working.

[2022-02-07 18:46] jamesdoyle21 commented on #334
I just made an "EDS Issues" label. @ndellicarpini can you tag the open issues you are referencing with this label and we can plan to bring them all to the EDS team so we aren't looking at each individually

[2022-02-07 18:48] jamesdoyle21 opened #335 "Mid-Atlantic Doppio Bottom Layer Unclear Depth Slider"
It is unclear what this depth slider represents

![image](https://user-images.githubusercontent.com/82955395/152852187-5c3a6431-19f2-43dc-9275-bd5bbe80f197.png)

[2022-02-07 18:49] ndellicarpini commented on #334
I can definitely tag the issues appropriately, but I think these are still issues on how we handle EDS layers in oceansmap, not issues with the EDS data. However, I can't say that for certain for all of our EDS issues.

[2022-02-07 18:51] ndellicarpini commented on #333
I think this is a duplicate of https://github.com/asascience/ott-coops/issues/334

[2022-02-07 18:52] ndellicarpini commented on #329
this might be fixed with https://github.com/asascience/ott-coops/issues/269

[2022-02-07 18:55] jamesdoyle21 opened #336 "No Units Showing in Settings Drawer for Temperature Layers"
All temp layers except for Doppio Bottom do not show the units in the colorscale range in settings of the layer.

![image](https://user-images.githubusercontent.com/82955395/152853091-e1bc50a4-12f0-40bc-a757-233dfd07fd0d.png)

[2022-02-07 18:56] jamesdoyle21 opened #337 "Units not Updating for Water Temperature Layers and Not Showing in Settings Drawer"
All layers except Doppio Bottom do not update to F when switching to imperial

![image](https://user-images.githubusercontent.com/82955395/152853361-50955cd9-4a1b-48b9-98d8-5dcc14675afa.png)

[2022-02-07 18:57] jamesdoyle21 commented on #337
This is similar to #336

[2022-02-07 18:59] jamesdoyle21 commented on #333
Yeah, it is similar. I'll close this and add a comment to the other

[2022-02-07 18:59] #333 closed

[2022-02-07 19:00] jamesdoyle21 commented on #334
Make sure that the default arrow density for these layers is appropriate. It is far to sparse at any zoom level currently. Similar to #334

[2022-02-07 19:09] nguyandy commented on #337
Related to this issue.
https://github.com/asascience/ott-coops/issues/267

Doppio is a pxyms layer, so that's why its working.
With EDS layers, OM3 doesn't know the unit type until we make a GFI request - and we need the unit type in order to do conversions.

We could add a hardcoded unit mapping for some eds layers for now, but it's not a permanent solution.

Same issue as https://github.com/asas

[2022-02-07 19:13] jamesdoyle21 commented on #337
Ok, thanks Andy. We don't want to spend the time on this until a more permanent solution is available. I will take these off the sprint and combine with #336

[2022-02-07 19:14] jamesdoyle21 commented on #336
Similar to #337

[2022-02-07 19:14] #336 closed

[2022-02-07 19:14] jamesdoyle21 commented on #337
![image](https://user-images.githubusercontent.com/82955395/152855989-fe1a80c0-2e7a-4aad-ad8a-1b23780d38c1.png)

[2022-02-07 19:37] jamesdoyle21 commented on #337
Same with salinity, currents and waterlevel

[2022-02-07 19:55] ndellicarpini commented on #321
@jamesdoyle21 if I'm working on this, should I change the layer list behavior so that the area circled in red remains pinned to the top of the list when a user scrolls? Currently it scrolls with the rest of the list, but its basically a matter of preference which is better.

![Untitled](https://user-images.githubusercontent.com/22432482/152862203-e3de35c9-1d22-4323-945b-96fff88caf4f.png)

Also can

[2022-02-07 20:03] jamesdoyle21 commented on #321
Ohhh yeah that would be nice. If you can pin that section to never scroll, I think that would be best. There has been times where I want to see the bottom of the data layers list and use the search and filter functions

[2022-02-07 20:36] jamesdoyle21 commented on #326
@ndellicarpini is there a layer you know of I can test this with?

[2022-02-07 20:38] #325 closed

[2022-02-07 20:39] ndellicarpini commented on #326
@jamesdoyle21 the way I was testing is after the site loads, disconnect from the internet and then try to load a layer.

[2022-02-07 20:39] #322 closed

[2022-02-07 20:40] #310 closed

[2022-02-07 20:42] #297 closed

[2022-02-07 20:43] #319 closed

[2022-02-07 20:47] #316 closed

[2022-02-07 20:49] jamesdoyle21 commented on #308
Was the fix for this to not show the notification at all because the information is in the active layers legend?

[2022-02-07 20:50] #326 closed

[2022-02-07 20:53] #307 closed

[2022-02-07 20:54] #306 closed

[2022-02-07 20:54] #305 closed

[2022-02-07 20:55] #303 closed

[2022-02-07 20:56] #304 closed

[2022-02-07 20:57] #302 closed

[2022-02-07 20:59] #301 closed

[2022-02-07 21:00] #300 closed

[2022-02-07 21:01] #275 closed

[2022-02-07 21:03] #286 closed

[2022-02-07 21:06] #288 closed

[2022-02-07 21:34] jamesdoyle21 commented on #295
No current layers are working for me right now. Are there other layers I can test this with?

[2022-02-07 21:35] #289 closed

[2022-02-07 21:36] #291 closed

[2022-02-07 22:24] ndellicarpini commented on #308
@jamesdoyle21 Yes, but that can be changed if you want.

[2022-02-08 15:05] jamesdoyle21 commented on #308
That workflow seems right to me, but I will plan to bring these warning notification questions to Chris in our next meeting.

[2022-02-08 15:05] #308 closed

[2022-02-08 16:04] ndellicarpini opened #338 "Maracoos Climatology Layers return blank tiles"

[2022-02-08 16:11] jamesdoyle21 commented on #338
There are several other layers in the MARACOOS catalog that gave no response and may be the same issue as this. Take a look at the spreadsheet in the Teams chat and maybe this fix can cover more than just the climatology layers.

If you do find that this issue is the same as other layers, if you could make a quick note in the spreadsheet, that way we are looking big picture

[2022-02-08 16:13] ndellicarpini commented on #338
Sounds good. What I will note is this is a different issue than "No Response", as these layers successfully fetch & load (aka loading spinner responds), but every tile that comes back is blank. A layer returning all blank tiles is a huge flag for it being a pyxms issue.

[2022-02-08 18:22] kvmartin001 commented on #323
This is an issue with the co-ops data. OM3 is displaying everything correctly. The raw data values are actually just extremely small.

The same thing is happening on Maracoos OceansMap.

![image](https://user-images.githubusercontent.com/56608780/153051146-bde38dc3-b5aa-41de-af0f-2034906d6005.png)

[2022-02-08 21:01] kvmartin001 commented on #330
@nguyandy does EDS support color palettes for this data? If not, I can just add a check for the layer type to disable the palette dropdown here.

[2022-02-08 21:03] nguyandy commented on #330
I don't think it does, I'm not seeing palette options for any of the winds layer in OM1 either.

[2022-02-08 21:21] kvmartin001 opened #339 "Traffic Light slider "min" value is broken in temperature layers"
The min data value in temperature layers is often below zero. When that is true, the tick mark on the traffic light slider gets messed up. I think the dot's position is on the wrong side of zero, so in the example vid it should be at -5, but shows up at 5.
When you look in the HTML, the label part of the tick mark is actually there and positioned where -5 would be. The left side boundary of the sl

[2022-02-08 21:31] kvmartin001 opened #340 "Layer error warnings do not dismiss when "Turn off all layers" is clicked"
For some reason, the error warnings (but not time warnings) stick around when you disable all layers, but the warnings auto-dismiss when you disable using the normal checkbox.

They go away when you open the legend though.

https://user-images.githubusercontent.com/56608780/153078869-0a0587fd-424e-443d-9a0d-b197f912b7a6.mp4

[2022-02-08 23:18] nguyandy opened #341 "Handle Cloud Top layers"
- Cloud Top Visible
- Cloud Top Water Vapor
- Cloud Top Short Wave Infared

These layers that are being manually handled through OM1's backend.
Will need to a bit of investigating, but we should be able to handle these easily.

[2022-02-08 23:29] nguyandy opened #342 "Handle GIBS layers"
We have one layer in MARACOOS, "NASA GHRSST"

This layer uses GIBS for the map layers
https://wiki.earthdata.nasa.gov/display/GIBS/

Seems like it's the only layer that we use that uses this data source type.

This will need a data-catalog update as well since the layer data_url given is not valid (OM1 handles these layer tile requests manually in their backend)

[2022-02-09 00:14] nguyandy commented on #331
units are working now, but it's converting from cm/s -> knots.
We can create a new conversion to do cm/s -> in/s?

also with these climatology layers, the layer isn't queryable, so the obs drawer shouldn't be opening, and shouldn't show the layer as a parameter.

[2022-02-09 17:41] ndellicarpini commented on #334
It seems like data density is an issue across the board
1. For wms layers, the density of barb layers is always overwritten to be `16`, and if I remember correctly trying to change the density led to some very unexpected results, so there's a good reason it's being overwritten.
2. https://github.com/asascience/ott-coops/issues/222
3. For eds layers, the `GetCapabilities` request shows that all lay

[2022-02-09 18:30] nguyandy commented on #332
@ndellicarpini @kvmartin001

This issue is up for grabs if you guys are light.

[2022-02-09 18:30] nguyandy commented on #318
@ndellicarpini @kvmartin001

This issue is up for grabs if you guys are light.

[2022-02-09 18:48] nguyandy opened #343 "Misc layer issues"
- NECOFS Wave Direction returning blank tiles
- ChesROMS Chlorophyll 3D returning blank tiles
- traffic lights don't work with climatology layers
- any styling outside of the default does not work with ChesROMS Chlorophyll 3D (this might be related to https://github.com/asascience/ott-coops/issues/312)

[2022-02-09 18:51] ndellicarpini commented on #339
it breaks bc the layer isn't recognized as a temperature layer, so the fix would probably be to expand the `isTemperature` check in `TrafficLightControl.tsx`

[2022-02-09 19:12] ndellicarpini opened #344 "Updating Climatology style behaves unexpectedly"
Changing the color palette of the climatology layers for some reason converts the layer into a barbs layer. Changing the layer style then fixes the issue.

[2022-02-09 20:29] ndellicarpini opened #345 "Data Layer List filters apply to Traffic Light Rule dropdown"
Surely this isn't supposed to happen?

[2022-02-09 21:27] ndellicarpini opened #346 "Climatology Traffic Issues"
- climatology traffic lights don't work from layer settings
- climatology traffic lights trigger time extents error because they have no time extents.

[2022-02-09 21:29] nguyandy commented on #346
these dang climatology layers eh?

[2022-02-09 22:29] jamesdoyle21 opened #347 "When a Station has Out-of-Date Data, Move the Warning to the Tooltip"
In order to save space in the Legend, Kelly and Chris agreed we do not need to list the icon for out-of-date stations there. Instead we can include it as a warning in a hover tooltip. The differenct color shade for the pin can stay the same.

Also, we can remove the lat and long info in the tooltip for all stations to make room for the out-of-date warning

![image](https://user-images.githubuserco

[2022-02-09 22:55] ndellicarpini commented on #344
I'm going to mark this as `Maracoos & OTT` since the fix could be applied to any layers without a default style

[2022-02-10 14:18] ndellicarpini opened #348 "Traffic Light Rules don't support depth or sigma"

[2022-02-10 15:06] jamesdoyle21 commented on #345
Nooooo, not supposed to happen

[2022-02-10 16:35] kvmartin001 commented on #347
Nice, that's a great idea.

[2022-02-10 20:05] kvmartin001 commented on #330
@jamesdoyle21 This was fixed in this PR: https://github.com/asascience/oceansmap-3/pull/208

Six of the direction layers in the Maracoos catalog are coming from EDS and they are fixed by my PR (sort of by accident)
EDS only returns one style option for direction layers, and we decided to hide the dropdown if that is the case.

- SECOORA CNAPS Wave Direction
- Chesapeake (NWPS Wave Direction)
- Bos

[2022-02-10 22:08] nguyandy opened #349 "Wind Energy Lease Area layer not working"
We're now getting a CORS error when hitting this service.

Tried to get by this by proxying the request instead, however we're still blocked.
The service is behind Cloudflare and performs a browsercheck to see if JS is enabled.

I reached out to Jenna Ducharme to see if there's been a change in the access/firewall rules.
It was working back in December, so not sure what's going on now

[2022-02-10 22:25] nguyandy opened #350 "Map layers still load (not removed) even though they're disabled"
@jamesdoyle21 ran into this issue during the demo yesterday.

This is a pretty tricky one to reproduce.
I'm not sure exactly where/what is happening, but I was able to reproduce it again on my end by accident when I disabled the default layers (AVHRR7) on load.

I was then able to reproduce it 50% of the time when I add some layers and then disable all the layers again.
You have to enable the laye

[2022-02-10 22:43] jamesdoyle21 commented on #330
Niiiice

[2022-02-11 15:19] ndellicarpini commented on #343
This is a unit issue

This is fixed in an open pyxms pr

This is a unit issue

[2022-02-11 15:23] ndellicarpini commented on #343
For chlorophyll units, should we just override them to `mg/m^3` rather than `mg chl/m^3`, or should we take some other sort of approach (maybe using some sort of `supportsUnitConversion`)? I'm unsure how to handle this.

[2022-02-11 15:34] jamesdoyle21 commented on #343
mg/m^3 makes more sense to me. That should be plenty of information for the user

[2022-02-11 15:43] ndellicarpini commented on #343
@nguyandy do you think we should handle this in OM, or should we try to get the units to change on the data side (sorry if that doesn't make sense, I'm not entirely sure how units are added to the data).

[2022-02-11 15:50] nguyandy opened #351 "LayerList being cut off."
CO-OPS station is missing from the OTT LayerList even though it appears in the catalog.
Turns out it is there, it just doesn't show because the list is being cut off.

<img width="1164" alt="Screen Shot 2022-02-11 at 10 51 16 AM" src="https://user-images.githubusercontent.com/43226410/153623652-770b131e-02e9-4a73-b67b-e1cdd1cc69cc.png">

[2022-02-11 15:53] jamesdoyle21 commented on #351
Wait I think this is happening with Maracoos too. I couldn't find Drifters yesterday

![image](https://user-images.githubusercontent.com/82955395/153623968-33f591ad-327b-4f05-9d35-9920d19ecb5b.png)

[2022-02-11 16:38] #295 closed

[2022-02-11 16:40] #338 closed

[2022-02-11 16:40] #299 closed, assigned to nguyandy

[2022-02-11 16:41] #296 closed

[2022-02-11 16:42] jamesdoyle21 commented on #321
This is much nicer

[2022-02-11 16:42] #321 closed

[2022-02-11 18:37] #347 closed

[2022-02-11 18:38] #309 closed

[2022-02-11 18:42] #331 closed

[2022-02-11 18:43] #339 closed

[2022-02-11 18:46] #328 closed

[2022-02-11 18:49] #330 closed

[2022-02-11 18:54] jamesdoyle21 commented on #315
What exactly does "Contour Interval" change? It doesn't look like it is doing anything. If that is the case, we should hide it.

Also, the text still reads "Colorscale Range" for now

![image](https://user-images.githubusercontent.com/82955395/153652345-11b92871-9262-4fab-b6ed-55a1581cf77e.png)

[2022-02-11 19:01] jamesdoyle21 commented on #266
@cpaternostro this issue is deployed, take a look and see how you like it. Also, did we want to do something similar for the other data station layers, or was this specific to CO-OPS?

[2022-02-11 19:01] #266 closed

[2022-02-11 19:06] jamesdoyle21 commented on #292
This would look cleaner if we could pair multiple layers in one category title. But this may not work if the Legend always displays the layers in the order they appear on the map. Thoughts?

![image](https://user-images.githubusercontent.com/82955395/153653861-9b473b30-a530-4ea4-bfd1-9389e2ed57e7.png)

[2022-02-11 19:15] jamesdoyle21 opened #352 "Include Out-of-Date and Error Notifications Even when Legends Window is Open"
The way things work now is if the legend is open the notification will not show. This becomes a problem when there are multiple layers in the legend and the newly activated layer populates at the bottom, below the view of the user. To fix this, let's always show the notification. Even if it populates behind the legends window, that is ok.

https://user-images.githubusercontent.com/82955395/1536550

[2022-02-11 19:16] jamesdoyle21 commented on #352
@ndellicarpini feel free to take this one too if you're looking

[2022-02-11 19:17] #340 closed

[2022-02-11 19:18] #345 closed

[2022-02-11 19:18] ndellicarpini commented on #352
@jamesdoyle21 the notifications wouldn't show up below the legend, they would show above. If this is fine then this is a very easy change.

[2022-02-11 19:26] #344 closed

[2022-02-11 19:29] #348 closed

[2022-02-11 19:54] #351 closed

[2022-02-11 19:56] jamesdoyle21 commented on #346
I'm getting no response here

![image](https://user-images.githubusercontent.com/82955395/153661146-10d1cd2f-b9d2-4249-8016-953ba1e2cbac.png)

[2022-02-11 20:01] kvmartin001 commented on #266
Hi @cpaternostro, I had some follow up questions about this.
We are currently binning the stations by looking at the data `tags` list. The coops_collection has about 70 unique combinations of tags, and I binned those unique combos into four categories by hand.

Two questions here -

•	I’m noticing differences in station locations and data between NOAA's site and OceansMap 3. In New York Harbor for

[2022-02-11 20:02] ndellicarpini commented on #346
@jamesdoyle21 climatology traffic lights activated from the layer settings do not work yet, it's a pyxms bug that I have a pr open for.

[2022-02-11 20:38] ndellicarpini opened #353 "Out-of-Date Notification stays open even if time is changed"

[2022-02-11 21:45] kvmartin001 commented on #292
I agree. It's kind of repetitive right now. I'll give it a whirl and see if I can get it to look identical on the screenshots

[2022-02-11 22:02] kvmartin001 commented on #315
The text change got overwritten by a merge on Friday.
I think calling it "contour interval" wasn't accurate because that's what the less/more slider is for. It's kind of tough to tell because the contours load so slowly for me.

I'll address in my current branch.

[2022-02-14 14:40] mpiannucci commented on #177
This is by design

[2022-02-14 14:42] mpiannucci commented on #315
It is the `colorscalerange`, it is the lower and upper range of what possible contour lines will show on the layer. So if you have 5 as the low and 80 as the high, the largest contour possible will be 80, the lowest will be 5.

[2022-02-14 14:48] mpiannucci commented on #342
We can also just bring over the backend code if we need to

[2022-02-14 14:52] #323 closed

[2022-02-14 14:53] mpiannucci commented on #329
Yup this is more EDS sucks at tiling issues

[2022-02-14 14:53] mpiannucci commented on #335
Can we get clarification of what you mean by this?

[2022-02-14 15:16] #177 closed

[2022-02-14 15:29] mpiannucci commented on #318
Just change legend image query where `units=degreesC` to `units=°C`

[2022-02-14 15:30] jamesdoyle21 commented on #315
Hide the "Contour Interval" section

[2022-02-14 15:32] jamesdoyle21 commented on #222
Disable this feature, for now

[2022-02-14 17:07] mpiannucci commented on #269
@ndellicarpini Please see my existing work as a potentail starting point for this:

https://github.com/asascience/oceansmap-3/tree/miannucci-eds-layer-type

This creates EDS layers as an image layer but the proprotions are wrong and the way EDS returns the images does not align with how mapboxgl shows it on the map. Hopefully you can something I am missing here

[2022-02-14 17:19] jamesdoyle21 commented on #335
Yeah so the 3D depth slider for this layer runs between 0 and -1 meters. What do these numbers represent? Is -1 the bottom and 0 is 1m above the bottom? Vice versa? Is this at the surface? The may be a question for @cpaternostro

[2022-02-14 17:25] jamesdoyle21 commented on #335
Ok, so is the depth slider showing up a bug? Is this not a 3D layer at all?

[2022-02-14 20:42] jamesdoyle21 opened #354 "Validation Tool Parameter and Comparison Should Pre-Populate when Data is Selected in Obs Drawer"
Workflow:

- Turn on a data layer (say Atlantic Wave Height)
- Turn on a data station layer (NDBC)
- Select a station
- Check a station parameter (Wave sig height)
- Check a model data (Wave height)
- Select "Validate"

I would expect the Paramter and Comparison in the Validation tool to be pre-populated.

This seems like a bug because Parameter will pre-populate if no model data is selected in th

[2022-02-14 20:54] jamesdoyle21 opened #355 "Validation Tool - Selecting "Parameter" Last does not Trigger the Tool"
If the user selects the Parameter after the station, date, and comparison, the tool will not run. This becomes an issue when the other 3 pre-populate from the obs drawer.

Re-selecting the other inputs does trigger it.

https://user-images.githubusercontent.com/82955395/153944817-db0fea93-2f6f-4766-bf91-e5ed6f03273c.mp4

[2022-02-14 22:04] mpiannucci commented on #354
the parameter autofills when a comparison isnt selected, so some byproduct going on

[2022-02-14 22:08] mpiannucci commented on #354
So how do we want to handle autofilling if the user has more than one parameter selected? Currently we force the user to choose in that case, which i think makes sense probbaly?

[2022-02-15 02:29] jamesdoyle21 commented on #354
Yeah, I would say making the user choose makes sense.

[2022-02-15 16:00] cpaternostro commented on #335
Depth sliders between 0-1 are likely showing the zeta levels.  These are
model reference layers, as a proportion of the total depth at each point.
e.g.,  0.5 zeta is half way in the water column for all areas regardless of
the different depths at the different points.

--

Chris Paternostro

https://tidesandcurrents.noaa.gov/

On Mon, Feb 14, 2022 at 12:25 PM James Doyle ***@***.***>
wrote:

[2022-02-15 16:10] cpaternostro commented on #266
Hi Kevin,
I'll have to look into what Subordinate measurements are, otherwise, I'd
like to match the data display of CO-OPS Tides and Currents website as
closely as possible.  Air Gap is definitely needed by the mariners to
safely get under the bridges.
Thanks for asking,
Chris

--

Chris Paternostro

https://tidesandcurrents.noaa.gov/

On Fri, Feb 11, 2022 at 3:01 PM Kevin Martin ***@***.***>
wro

[2022-02-15 17:00] nguyandy commented on #327
we should also handle if a user gets a permalink with a layer that is no longer available

IE dont crash, jsut do nothing ro show a warning

[2022-02-15 17:15] nguyandy opened #356 "Handle permalinks to layers that are not available in the catalog"
Right now, the app crashes if a permalink layer is not found in the catalog.

http://localhost:3000/?permalink=N4IgtghgDgQjD2APEAuUB9Azgd1aANgHYDmqAtABwAsAdFQEwDsAzAJz0CsjFAjJ1QDYANCHwQALqmYcaABlkDOTCsx5cqHAL4j0hAKZ5RJcgJmNG9AbMYMeFRl2YixklAzqz6sjmorWBzBSsApra4NAAyuIAnvgGaCAAlgAmqCAQAE4AxgDiiZgAKvBQ8MQZ0AAWiVkgIoQQYPEgRSVlldW1IOIVAK5gAEb1ifhpFeLiUJgoAPTTmHoZAG4LNJlZxPnwhPiJ+jRZ8GDTaxuY0xl6mOJzC4vV

[2022-02-15 18:25] mpiannucci opened #357 "NASA GHRSST Missing Observation Data API"
![Screen Shot 2022-02-15 at 1 24 22 PM](https://user-images.githubusercontent.com/1832671/154125175-2f82eec1-1769-4004-8211-48e7b33d546a.png)

Original
![Screen Shot 2022-02-15 at 1 24 11 PM](https://user-images.githubusercontent.com/1832671/154125200-05d60b4c-c126-4292-b10e-1edfb8bda43b.png)

[2022-02-15 18:26] nguyandy commented on #357
:O

Oh snap, thanks for catching this.

[2022-02-15 18:40] mpiannucci commented on #329
![Screen Shot 2022-02-15 at 1 40 07 PM](https://user-images.githubusercontent.com/1832671/154127507-190c357b-a36c-4fd9-8879-65eb8d973884.png)

[2022-02-15 18:40] mpiannucci commented on #329
Nick just tagged you for credit, looks fixed to me now

[2022-02-15 20:01] ndellicarpini opened #358 "Drawer/Timeslider GUI Quirks"
- if you have one of the timeslider dialogs open and select the other one -> clicking once only closes the open dialog
- `Add to Virtual Stations` is in the scroll div for observation parameters
- same units have different x-axis legends in profile plots
- closing a virtual station dialog closes the drawer but not the profile plot
- chart loading spinner is off-center and its fade does not cover t

[2022-02-15 20:32] ndellicarpini opened #359 "Fix EDS Layers Skew/Rotate"

[2022-02-15 20:51] #329 closed

[2022-02-15 20:53] #292 closed

[2022-02-15 20:54] #350 closed

[2022-02-15 20:55] #341 closed

[2022-02-16 01:58] mpiannucci commented on #267
Talked with the EDS team today: EDS supports units only in the legends. The colors never change with the units, just the legend adjusts to match. So take a 0-3 meter wave layer looking like this:

https://coastmap.com/ecop/wms.aspx?service=WMS&request=GetMap&version=1.1.1&layers=NWPSBOX_WAVE_HEIGHT&styles=WAVE_HEIGHT_STYLE-Jet-0-3-ft&format=image%2Fpng&transparent=true&colorscalerange=0%2C3&autosc

[2022-02-16 14:43] jamesdoyle21 opened #360 "Look into Station Grouping for NDBC Stations"
We had a discussion with the team last meeting about applying the same station grouping idea we did for the CO-OPS stations to any of the other station layers (by changing the pin dot color). The only other one that makes sense to apply grouping to is NDBC. The categories for the grouping will not be the same as CO-OPS, however, because the data is different. This will require some digging and wor

[2022-02-16 18:20] #353 closed

[2022-02-16 18:21] #342 closed

[2022-02-16 18:22] #355 closed

[2022-02-16 18:23] #352 closed

[2022-02-16 18:26] mpiannucci commented on #311
https://dev.oceansmap.com/maracoos-next/?permalink=N4IgtghgDgQjD2APEAuUB9Azgd1aANgHYDmqAtAOwCsAdFQMwCMAHAAxUX0BMAbI68wA0IfBAAuqesxoBOVvQqMZvLlzacAvsPSEApnhElyimvR5Uel1orXMew0RJQAWVnSXNnVVTwrn5Glrg0ADKYgCe+PpoIACWACaoIBAATgDGAOKxmAAq8FDwxCnQABaxaSDChBBg0SB5BUWl5ZUgYiUArmAARtWx+EklYmJQmCgA9OOYuikAbjM0qWnE2fCE+LF6NGnwYONLK5jjKbqYYlMzs+Wn4wDq8Cn48egN8OgAstDjn1AhlzPjMT9XTjVig0GtM6RaKgeYpTCxNaoIQgTDwDrp

[2022-02-16 18:26] #354 closed

[2022-02-16 18:29] #269 closed

[2022-02-16 18:29] ndellicarpini commented on #311
I think this is a data issue rather than anything on our end.

https://dev.oceansmap.com/maracoos-next/?permalink=N4IgtghgDgQjD2APEAuUB9Azgd1aANgHYDmqAtAOwUB0AbBQKwCcAjAEwDMAHEw20wBZaAGhD4IAF1QcafLgAYKbPiwHKZAX1HpCAUzxiS5Ci2ommPDgwrz5XARxajxUlByZnGFAQMEMBXIwcGlrg0ADKEgCe+PpoIACWACaoIBAATgDGAOIJmAAq8FDwxOnQABYJmSCihBBgcSCFxaUVVTUgEuUArmAARnUJ+KnlEhJQmCgA9FOYuukAbvPUGZnEefCE+Al61JnwYFOr65hT6bqYErPzC

[2022-02-16 18:35] cpaternostro opened #361 "List of Catalog Names"
- [ ] Rename: "Water Surface Height Above Reference Datum" to "Water Levels"
- [ ] Rename: "Wind Speed of Gust" to "Wind Gust"
- [ ] Rename "Wind From Direction" to "Wind Direction"
- [ ] Rename "Sea Water Temperature" to "Water Temperature"
- [ ] Rename "Sea Surface Height Amplitude Due to Equilibrium Ocean Tide" to "Tide Predictions"
- [ ] Rename "Sea Water Velocity To Direction" to "Currents Di

[2022-02-16 18:36] jamesdoyle21 commented on #343
I'm still not getting anything for ChesROMS Chlorophyll 3D

[2022-02-16 18:37] mpiannucci commented on #311
Ya i agree, maracoos production shows the same

[2022-02-16 18:38] jamesdoyle21 opened #362 "Take Steps to Reduce the Footprint of the Legend Drawer"
@mpiannucci can we close this or was there more you wanted to try?

[2022-02-16 18:40] ndellicarpini commented on #343
Both of the chesroms layers are broken (alkalinity doesn't support changing the style) because they use units we don't/won't support. We still need to figure out how to handle layers with oddball units.

[2022-02-16 18:40] nguyandy commented on #343
Sorry Nick I never saw this comment.
Changing the units in the data is probably the "right" way to do this.
Changing the units in OM3 would be the fastest and easiest way.

@mpiannucci thoughts?

[2022-02-16 18:44] mpiannucci commented on #362
Its merged, you can review once deployed

[2022-02-16 18:46] mpiannucci commented on #343
Is this as simple as adding the oddball units to OM3 unit system? It is extendable right?

[2022-02-16 18:46] nguyandy commented on #343
Should be, I'll give it swing in a bit

[2022-02-16 19:19] jamesdoyle21 opened #363 "Add an Info Button to the Tools"
We discussed the fact that some of the tools are not self-explanatory and that an info button would be helpful.  We can use the same circle around the i icon, like we do for the data layers and place it in the top right corner of each tool.

![image](https://user-images.githubusercontent.com/82955395/154339519-fc33dcfe-c112-4e4b-870c-edb7bb86b089.png)

[2022-02-16 19:24] jamesdoyle21 opened #364 "When Legend is Open, Push the Timeslider and Elevation Slider Left"
The tools on the left side of the page will push the timeslider when opened. We want to do the same with the drawers on the right (legend, permalink). As it is now, this drawer will cover the timeslider and elevation slider

![image](https://user-images.githubusercontent.com/82955395/154340169-ab2b7f8f-978a-4441-bbf5-4dec325dcb6a.png)

[2022-02-16 19:25] jamesdoyle21 opened #365 "Move Screenshot Tool Icon to Upper Right"

[2022-02-16 19:31] nguyandy commented on #343
Ahhh it's all coming back to me now.

So the units we get from ncwms/pyxms is `mg_chl/m3`
The unit being passed in the OM3 requests is `mg chl/m³`

To which we get the error
`Cannot convert units mg chl/m³ to mg_chl/m3`

When we make the changes to OM3 to use the original unit `mg_chl/m3`, we still get an error from pyxms
`Cannot convert units mg_chl/m3 to mg_chl/m3`

https://wms.oceansmap.com/wms

[2022-02-16 19:57] mpiannucci commented on #343
That sounds like a pyxms error to me, I don't think that should error out. I can take a look

[2022-02-16 20:22] kvmartin001 commented on #360
@jamesdoyle21 I gave this a shot with three categories. There are only 25 unique tag combos this time, so it was easier to do.

How does this look?
![image](https://user-images.githubusercontent.com/56608780/154350631-02e2881b-4187-48d8-ae15-9d7094da76e1.png)

[2022-02-16 20:37] cpaternostro commented on #360
That looks great.  However, I don't know what Ocean means.  Is that a
grouping of currents, water level and other parameters?

--

Chris Paternostro

https://tidesandcurrents.noaa.gov/

On Wed, Feb 16, 2022 at 3:23 PM Kevin Martin ***@***.***>
wrote:

[2022-02-16 20:40] jamesdoyle21 commented on #360
Here is an example of an "Ocean" station Chris. Is there a better term we can use here?

![image](https://user-images.githubusercontent.com/82955395/154353200-f48285cb-c0a7-4956-ac3d-5fb61ab03674.png)
![image](https://user-images.githubusercontent.com/82955395/154353234-231d373c-10a8-4164-bc94-e212081f5942.png)

[2022-02-16 20:52] mpiannucci commented on #343
So I just pushed a pyxms fix that will not try and convert units when the users requested units are the same as the source units. This means that for certain weird unit layers we will just not have them toggle to other systems for now and the layers should then work out of the box, just with no conversions

[2022-02-16 21:22] kvmartin001 commented on #360
@cpaternostro The Ocean stations are a grouping of currents, water levels, salinity, water temperature, and/or water quality. Anything having to do with water was classified as "Ocean".
Any variable having to do with air was classified as "Meteorology", and if a station had both, it was classified as "MetOcean".

I suppose the term "Ocean" doesn't really apply to the Great Lakes though.

[2022-02-17 15:18] mpiannucci opened #366 "Observation View wont scroll on Mobile"
Title: Doesnt scroll on mobile

![Screen Shot 2022-02-17 at 10 17 35 AM](https://user-images.githubusercontent.com/1832671/154515935-02cbc983-00a7-4e35-b062-2a0de16d4a14.png)

[2022-02-17 15:21] nguyandy opened #367 "ChesROMS timeseries do not load"
We're getting back a 500 error.

but they work in OM1

[2022-02-17 15:21] jamesdoyle21 commented on #356
What is the desired outcome here? To open OM3 without that layer activated?

[2022-02-17 15:25] #357 closed

[2022-02-17 15:26] #315 closed

[2022-02-17 15:27] #318 closed

[2022-02-17 15:28] #327 closed

[2022-02-17 15:28] mpiannucci commented on #356
Yes, previously it would crash and show a blank screen. It should also show a notification that the layer is not available now i think

[2022-02-17 15:29] #362 closed

[2022-02-17 15:29] nguyandy commented on #356
Here's a permalink to a non-existing layer

https://dev.oceansmap.com/maracoos-next/?permalink=N4IgtghgDgQjD2APEAuUB9Azgd1aANgHYDmqAtABwAsAdFQEwDsAzAJz0CsjFAjJ1QDYANCHwQALqmYcaABlkDOTCsx5cqHAL4j0hAKZ5RJcgJmNG9AbMYMeFRl2YixklAzqz6sjmorWBzBSsApra4NAAyuIAnvgGaCAAlgAmqCAQAE4AxgDiiZgAKvBQ8MQZ0AAWiVkgIoQQYPEgRSVlldW1IOIVAK5gAEb1ifhpFeLiUJgoAPTTmHoZAG4LNJlZxPnwhPiJ+jRZ8GDTaxuY0xl6mOJzC4vVl9MA6vAZ+MnoLfDo

[2022-02-17 15:37] #359 closed

[2022-02-17 15:44] #346 closed

[2022-02-17 15:52] #356 closed

[2022-02-17 20:06] nguyandy opened #368 "Handle vertical profiles for scidap"
Atlantic Shore - ASOW stations, 3d parameters

[2022-02-17 20:07] mpiannucci commented on #368
![Screen Shot 2022-02-17 at 3 07 20 PM](https://user-images.githubusercontent.com/1832671/154562243-ef4eba40-814e-4e86-82a9-19743fddb2fc.png)

[2022-02-17 20:23] mpiannucci opened #369 "Search Doesnt Show all stations when searching by layer name"
If I type NDBC into the search bar, it narrows correctly but doenst show any stations:

![Screen Shot 2022-02-17 at 3 23 10 PM](https://user-images.githubusercontent.com/1832671/154564560-84afbe43-6638-44a5-a950-bf8da755b347.png)

[2022-02-17 20:24] mpiannucci commented on #369
Same for Co-OPs or Atlantic SHore.. etc, etc

[2022-02-17 20:33] mpiannucci opened #370 "Elevation is not passed to EDS layers"
The elevation slider works but is not passed in the GetMap request

![Screen Shot 2022-02-17 at 3 30 42 PM](https://user-images.githubusercontent.com/1832671/154565623-48920199-68fd-4088-bdb7-587fa9377188.png)

[2022-02-17 20:58] jamesdoyle21 opened #371 "NOAA RTOFS Salinity Bug in Profile Plot"
Profile plots for this layer are coming back with multiple values at certain depths:

![image](https://user-images.githubusercontent.com/82955395/154569532-031ec049-e3c4-4086-b3a8-bcafb92281e9.png)

[2022-02-17 21:04] ndellicarpini commented on #370
What? this is the layer in your picture, the layer doesn't look like its changing but the `GetMap` request definitely has the elevation param http://localhost:3000/api/wms?url=https://coastmap.com/ecop/wms.aspx?service=WMS&request=GetMap&version=1.1.1&layers=RTOFS_3D_SALINITY_FORECAST&styles=SST_USCG-winter-0-40&width=1372&height=897&format=image/png&transparent=true&time=2022-02-17T21:00:00.000Z&

[2022-02-17 21:08] mpiannucci commented on #370
Am i blind??? Maybe haha

[2022-02-17 21:11] mpiannucci commented on #370
The elevation needs to be passed to EDS as the index of the elevation, not the value:
https://coastmap.com/ecop/wms.aspx?service=WMS&request=GetMap&version=1.1.1&layers=RTOFS_3D_SALINITY_FORECAST&styles=SST_USCG-winter-0-40&format=image%2Fpng&transparent=true&colorscalerange=0%2C40&elevation=38&autoscalerange=false&time=2022-02-17T18%3A00%3A00Z&exceptions=application%2Fvnd.ogc.se_xml&width=1470&he

[2022-02-17 21:13] jamesdoyle21 opened #372 "Data Layer Search Hides Stations and Closes Obs Drawer"
This came up in a recording today when I was trying to turn on a wave layer with a data station selected. Typing "wave" in the search bar hid all of the station pins and closed the obs drawer.

In the very least, the selected station should remain visible on the map and the obs drawer should stay open.

Up for discussion though is what to do with all the other station pins that disappear. If the u

[2022-02-17 21:25] kvmartin001 opened #373 "Map tools cover sidebar tools on mobile"
If you open a map tool and then try to use the sidebar, the map tool drawer blocks the sidebar:

https://user-images.githubusercontent.com/56608780/154573038-e028aa2d-731c-442b-875f-272be21067c3.mp4

All map tools should deactivate if the application header is clicked while they're active, and the ones that open a drawer should get the dimming CSS to match the Observation Drawer.

[2022-02-18 14:11] mpiannucci commented on #372
@ndellicarpini more complex filtering behavior for you to think about..

[2022-02-18 14:22] ndellicarpini commented on #372
I can probably force the selected station to never be filtered out, but there really is no way to tell if the user is searching for a layer or a station without making either the layer search or the station filtering less robust (something like not filtering the stations if the string exists in a layer name is something I would consider a bad workaround).

Maybe we can support search modifiers kin

[2022-02-18 14:36] mpiannucci commented on #372
Yeha I like that but i am worried that it would be too complicated for people. We probbaly have to shoot for what oceansmap.maracoos.org does currently as a first pass

[2022-02-18 14:38] mpiannucci commented on #371
@kvmartin001 Andy is stranded, can you look at this in the meantime for a bit?

[2022-02-18 14:41] ndellicarpini commented on #372
Wait does om1 even support filtering stations? if so how do you it?

[2022-02-18 15:04] mpiannucci commented on #372
It does, just type the station name into the search bar before adding the layer

[2022-02-18 15:14] ndellicarpini commented on #372
I can't get the stations to actually filter, even if I use the full name of the station. It seems like the layer list can filter by station names but the stations on the map are either all there or all not.

[2022-02-18 15:23] kvmartin001 commented on #371
Yep, I'll take this

[2022-02-18 16:05] mpiannucci commented on #367
I can look at this quick

[2022-02-18 16:07] mpiannucci commented on #367
NVM! Lol

[2022-02-18 16:19] CoryMartinRPS commented on #267
GetCapabilities requests will now return a node for Units in the XML document. The string contained within will be the default units used by WMS when drawing the layer.

https://coastmap.com/ecop/wms.aspx?service=WMS&REQUEST=GetCapabilities&Version=1.1.1&key=rpstest

[2022-02-18 16:30] kvmartin001 commented on #371
This is very strange. It can almost be explained by gaps in the data, but the gaps seem to be showing up on the plot as random points. For example the point I'm hovering over here is supposed to be a data gap (the one between 800 and 700m in the console)

It's almost like random points are getting added to the end of the plot too. (@ 4000 and 5000m)

![image](https://user-images.githubusercontent.

[2022-02-18 16:31] mpiannucci commented on #267
This is perfect, thanks Cory!
![Screen Shot 2022-02-18 at 11 31 50 AM](https://user-images.githubusercontent.com/1832671/154723562-0bc1eaf6-9cc1-45cf-965f-c54cc277eba9.png)

[2022-02-18 16:39] ndellicarpini opened #374 "Support particle layers at any bounds"
Currently particle layers switch back & forth connected at the lng -180/180 meridian. If we can support particle layers like eds layers, where the bounds can be anything between [-359.999999, -85], [359.999999, 85], then this would fix the global particle layers switching at the meridian.

As a side-effect, this change would normalize the density of a particle layer at all zoom levels.

[2022-02-18 19:42] mpiannucci commented on #267
Im going to tackle the first part of this which is having data catalog read EDS units and populate the metadata for each layer

[2022-02-18 21:13] mpiannucci commented on #267
Data catalog for OM3 is deployed with EDS units update

[2022-02-18 22:15] cpaternostro opened #375 "Move the Legend under each variable in the Data Layers pullout menu"
Instead of having a separate Legend pull out drawer on the right side of the map.  I propose that we just show each variable's legend/scale, under the checked (turned on) data layers.  This way, users can have the scale available to them as soon as the variable is checked on plus, clicking no the Active Layers tab will provide a concise listing of legend values.  We could even rename it Legend.
I

[2022-02-19 01:23] mpiannucci commented on #375
I understand why this is desirable , we flirted with it a little but (code) design wise it would be a pretty big change to the way the app is structured. Since layers don't have to come from the data layers tool, they can come from any tool (like the traffic light tool. So in order for this to be effective, we'd have to duplicate a lot of logic and track everything on a per tool basis instead of h

[2022-02-21 13:11] nguyandy commented on #267
Thanks for the update @CoryMartinRPS @tgiguere

**edit: Problem solved, no questions :)**

I have a question about the units for Wind/Current layers.
The default unit for these layers are in "Knots", I was wondering what units are accepted for its conversion (for legends)?

ex: GFS Wave Height is `m` by default, but we can get the the converted label "ft" by adding `-ft` to the styles parameter
ht

[2022-02-21 14:08] mpiannucci commented on #267
Looking at om1 and I see cm/s for some

[2022-02-21 14:14] nguyandy commented on #267
Ahh thanks @mpiannucci, looks like `cms` is the unit for knots.

![legendms](https://coastmap.com/ecop/wms.aspx?service=WMS&request=GetLegendGraphic&version=1.1.1&layers=GFS_WINDS&styles=WINDS_VERY_SPARSE_GRADIENT-false-1-0-2572.22-cms&format=image/png&transparent=true&time=2022-02-21T12:00:00.000Z&srs=EPSG:3857)

[2022-02-21 14:15] mpiannucci commented on #267
https://coastmap.com/ecop/wms.aspx?SERVICE=WMS&request=GetLegendGraphic&version=1.1.1&layers=GFS_WINDS&styles=WINDS_VERY_SPARSE_GRADIENT-false-2-mps&format=image%2Fpng&transparent=true&colorscalerange=0%2C50&autoscalerange=false&time=2022-02-21T15%3A00%3A00Z&exceptions=application%2Fvnd.ogc.se_xml&srs=EPSG%3A3857

meters per second is `mps`, which we should prob use by default instead of `cms` if

[2022-02-21 15:28] jamesdoyle21 opened #376 "Extend the Width of EDS Layer Legend Images"
The color scale legend image for EDS layers can be extended to the width of the legend drawer to make it easier to read

[2022-02-21 20:44] jamesdoyle21 opened #377 "Validation Tool - Move "Number of Points" to Top of Error Statistics Table & Add Export"
From Jeff, "In the error statistics table, move the number of points to the top row (above bias).  Also is there a way to download these like the plots?  I did it with copy/paste."

![image](https://user-images.githubusercontent.com/82955395/155024008-18f0fca3-9c30-4bc1-bec4-0aac6b57f31d.png)

[2022-02-21 20:49] jamesdoyle21 commented on #361
This ticket can go well beyond just the names Chris mentions here. Jeff pointed out the inconsistency in the legend item names between the obs drawer and the validation tool. When we get the chance, we should sit down and think about how we can improve this across the board.

These plots show he same data with completely different legends:
![image](https://user-images.githubusercontent.com/8295539

[2022-02-21 20:51] jamesdoyle21 commented on #361
@cpaternostro if there are more areas / data titles we can improve, let's post them here to keep them in one place.

[2022-02-21 21:02] jamesdoyle21 opened #378 "Include Station Number and Name as the Plot Title in Obs Drawer"
When the user uses the export feature for the observation drawer plot, the image does not specify the station name anywhere. This would be best to do as the title of the plot.

![chart](https://user-images.githubusercontent.com/82955395/155025859-508e2071-1fd6-4e84-a4cf-c086d690a6f3.jpeg)

[2022-02-21 22:32] nguyandy commented on #377
The plot downloads are a built-in feature from HighCharts.
We don't have a method to export tables at the moment.

How fancy do we want these validation exports?
We can stay super simple and export the table as a .csv file, export the table as an image, export the table as a .html file

Or we could create a validation template and give users the option to export the validation data as a pdf - simi

[2022-02-21 22:47] jamesdoyle21 commented on #377
If we are just trying to check this box, a simple .csv file is all we need. But I do see how a pdf like the screenshot tool would be cool to have. If it is a big effort, don't bother, but if you think it's easy / want to dive into this, feel free @nguyandy

[2022-02-21 22:55] jamesdoyle21 commented on #312
I'm still seeing some weirdness with color range and contours here

![image](https://user-images.githubusercontent.com/82955395/155035475-189e69e7-3028-4f7d-a228-b87c0bfe96c7.png)

[2022-02-21 22:58] jamesdoyle21 commented on #376
![image](https://user-images.githubusercontent.com/82955395/155035652-8c73d197-7598-4eaa-bba2-b21819a35698.png)

This should fix these bunched label values too

[2022-02-21 22:59] #337 closed

[2022-02-21 23:00] #267 closed

[2022-02-21 23:03] #368 closed

[2022-02-21 23:06] #367 closed

[2022-02-21 23:07] #371 closed

[2022-02-21 23:09] #370 closed

[2022-02-21 23:10] #369 closed

[2022-02-21 23:11] #343 closed

[2022-02-21 23:19] #373 closed

[2022-02-21 23:21] #366 closed

[2022-02-21 23:26] jamesdoyle21 commented on #335
If this layer is supposed to be sigma, the depth slider needs to be changed. It reads in meters now.

[2022-02-21 23:37] #290 closed

[2022-02-23 20:00] jamesdoyle21 commented on #361
Look into OM1 for names

[2022-02-23 21:20] jamesdoyle21 opened #379 "Think About How to use Less Real Estate with the Obs Drawer"
We have been getting quite a bit of feedback recently suggesting we try not to cover as much of the map as we do now. For the observation drawer, there are a few things we can do to reduce the height. The main focus is maximizing the height of the plot inside the obs drawer. Some ways to do this:

- Move validate button
- Move legend to the side of the plot?
- Don't allow the x-axis labels to take

[2022-02-24 01:43] nguyandy commented on #379
I don't think we need to move the validate button, once the whitespace is removed, it fits in that corner nicely.

Still some tinkering to be done, but here's a quick first pass.
This is just shrinking down the padding/margin for the charts, allowing us to reduce the height of the obs drawer by 65px.

https://user-images.githubusercontent.com/43226410/155439488-f40567c6-0098-4957-b67c-5065c4088697

[2022-02-24 16:25] mpiannucci commented on #379
Nice! Yeah that looks like a good start

[2022-02-24 16:29] jamesdoyle21 commented on #379
That looks good Andy, already a good amount of space saved. We will probably want to think about this for all other drawers too

[2022-02-24 18:41] mpiannucci commented on #379
One comment from Kelly was about redundancy with the timestamps but in some cases they are not uniform so how do we handle?

![Screen Shot 2022-02-24 at 1 40 11 PM](https://user-images.githubusercontent.com/1832671/155587094-64e17d1f-6f09-40d8-8044-0692730a4f3b.png)

[2022-02-24 18:59] mpiannucci commented on #379
For the observation drawer title, Keep the name in it, remove the @ symbol, Surround the Lat lng with parentheses and make it lighter grey color to be less distracting

[2022-02-24 19:09] mpiannucci commented on #379
When there is no data, simply just disbale the row and put "No Data" in the results

[2022-02-24 19:22] mpiannucci commented on #379
Show chart title only in exports https://www.highcharts.com/forum/viewtopic.php?t=42972#p151429

[2022-02-24 19:32] mpiannucci commented on #379
Validate and Add to Virtual Stations buttons should move to right side of the header bar

[2022-02-24 19:33] mpiannucci commented on #379
Dont show layers that are not available at a given location in the observation drawer param list. IE clickoing outside of models BBOX

[2022-02-25 13:40] nguyandy commented on #379
Should we also deal with ordering the parameters? Display ones with data at the top, move the 'No data' to the bottom?

[2022-02-25 13:50] mpiannucci commented on #379
My thought is yes, but there is something to be said for maintaining consistent order as well

[2022-02-25 18:17] jamesdoyle21 opened #380 "Make Tooltips for Station Parameters giving the Parameter Full Name and Date/Time Last Updated"
This is so we can remove the date/time updated listed for each line item. This also allows us to shorten the parameter names in the list to make them clearer and fit on one line.

For mobile, since we cant use tooltips, include the light gray i information button next to the parameter name text

[2022-02-25 18:19] jamesdoyle21 opened #381 "Make Lat/Long Coordinates in Parentheses and Gray in Station Name in Obs Drawer"
And remove the @ symbol.

[2022-02-25 18:20] mpiannucci commented on #381
Add N and W to lat and lng

[2022-02-25 18:29] jamesdoyle21 commented on #361
To add to this issue. We should make the font smaller and shorten long parameter names so they fit on one line, like OM1 does

![image](https://user-images.githubusercontent.com/82955395/155768527-980c0618-6fcc-4b65-92c5-ec802e20c5d9.png)

[2022-02-25 18:55] jamesdoyle21 opened #382 "For Station Parameters with Data Problems, Remove the i Icon and put "No Results""
![image](https://user-images.githubusercontent.com/82955395/155771918-5580c46e-bd27-4249-9328-55ab51e71931.png)

[2022-02-25 18:57] jamesdoyle21 opened #383 "Include Date/Time Station Parameters were last Updated to Top Right of Scroll Window"
![image](https://user-images.githubusercontent.com/82955395/155772097-d79114df-d664-4c4d-8651-9dcac6e3cf02.png)

[2022-02-25 18:58] jamesdoyle21 opened #384 "Lat / Long of Cursor Position Listed on Map"
Like OM1 does

![image](https://user-images.githubusercontent.com/82955395/155772235-c4e7a11f-1d41-4014-9b21-0cd6c7cf527b.png)

[2022-03-01 19:22] ndellicarpini opened #385 "Scrolling a tooltip offscreen creates a scrollbar"
The scrollbar on the right:

https://user-images.githubusercontent.com/22432482/156234708-76c203f8-0068-4493-908a-bf73470a16ac.mp4

[2022-03-01 19:36] mpiannucci opened #386 "CoOps Markers are not aligned correctly in legend"
![Screen Shot 2022-03-01 at 2 15 59 PM](https://user-images.githubusercontent.com/1832671/156236556-020f06fe-6936-4034-ae80-c2b654800321.png)

[2022-03-01 19:58] kvmartin001 commented on #386
I fixed this issue here: https://github.com/asascience/oceansmap-3/pull/247
Maybe I should remove it from that PR and just quickly get this on Master

[2022-03-01 20:17] mpiannucci commented on #386
No rush really just had to mark it down

[2022-03-07 20:04] jamesdoyle21 opened #387 "Add a "Delete All" Button to Traffic Light and Virtual Stations"
This comes up while giving demos. If the user creates or imports a large amount of virtual stations (or traffic light layers) we want to give them the ability to delete them all without clicking through manually. A small delete button placed somewhere in the to of the tool should be enough

[2022-03-07 21:07] #376 closed

[2022-03-07 21:08] #377 closed

[2022-03-07 21:08] #379 closed

[2022-03-07 21:10] #380 closed

[2022-03-07 21:10] #382 closed

[2022-03-07 21:11] #383 closed

[2022-03-07 21:11] #381 closed

[2022-03-07 21:12] #378 closed

[2022-03-08 03:59] kvmartin001 opened #388 "Longitude display is inverted"
In some places in the app, the longitude is displayed with a "W" next to it, but Mapbox's internal longitude is in degrees East (negative = western hemisphere).

-71.3019 here...
![image](https://user-images.githubusercontent.com/56608780/157162478-64553a44-ec4f-4a1b-9483-510e5ea2dbc9.png)

...should really be 71.3019
https://www.google.com/maps/place/41%C2%B030'26.6%22N+71%C2%B018'06.8%22W/@41.49

[2022-03-08 18:05] kvmartin001 opened #389 "VStation Quick Add weird behavior / crash"
If you Quick Add a virtual station, then try to click on one of the stations in the list, a mapClickEvent occurs at seemingly random coordinates.

-Only happens if the vStation **title** is clicked, not the checkbox

https://user-images.githubusercontent.com/56608780/157298707-6fa04152-7e13-4211-bbba-0786a0c1cb2c.mp4

[2022-03-08 18:44] kvmartin001 commented on #389
This was due to a lat / lng mismatch

[2022-03-08 18:55] nguyandy commented on #363
Any thoughts on how to implement this?
How detailed are we planning to make the info content?

If detailed, it might be worth using a drawer for this type of stuff.

https://user-images.githubusercontent.com/43226410/157305870-84715f11-85a9-41f0-8da9-39f8c1568e8c.mov

[2022-03-08 19:04] mpiannucci commented on #363
My initial thought was just a push of another drawer over the current one they have open

[2022-03-08 19:14] kvmartin001 commented on #363
I like the idea of having example screenshots in the drawer. Which layers could be used for screenshots? That would be useful in the traffic light tool and validation tool

[2022-03-10 17:44] #61 closed

[2022-03-10 17:46] jamesdoyle21 commented on #115
This could be useful to add to the backlog

[2022-03-10 17:47] jamesdoyle21 commented on #117
Potential next enhancement

[2022-03-10 17:47] jamesdoyle21 commented on #215
Andrew brought this up today. Let's discuss Monday

[2022-03-10 17:48] #219 closed

[2022-03-10 17:50] jamesdoyle21 commented on #248
This is similar to #361

[2022-03-10 18:21] mpiannucci commented on #115
Background Info:

Any vector layer with the `-group` postfix will always have a `-mag` for magnitude and a `-dir` for direction that can swap out for `-group` to show those as scalars instead of as one vector. So probably cool to just expand those layers for the traffic light tool, or we can add them all to the catalog but that might get too dense.

[2022-03-10 18:32] kvmartin001 commented on #117
This would be a fun one that I could tackle.

Major parts as I see them:
- Need a UI for rule creation -> "Generate Timeline" button combines rules with the result of multiple getTimeseries requests to calculate threshold points on a `TimeSlider`-like display
  - There might be more than two threshold points unlike spatial traffic light layers - conditions could flip flop back and forth along the

[2022-03-10 18:51] jamesdoyle21 commented on #117
For times when any of the layers in the traffic light rules has no data, we would probably want a 4th color, dark gray perhaps, and add a tooltip when the user hovers over that particular time on the slider with a warning saying X data layer has no data at Y time

As for the different lengths of timesteps, what could be the biggest difference in time here? We could set it so that in order for the

[2022-03-10 19:09] kvmartin001 commented on #117
On second thought, the problem of data gaps and timestep differences is basically the same. Many layers update every hour, but some only update a few times a day and some have multi-day gaps surrounding just a few data points.

There will probably be a singular out-of-date cutoff for all layers. The timeline will turn gray if any of the layers have gone out-of-date at that point, and will return t

[2022-03-11 20:49] kvmartin001 commented on #335
@jamesdoyle21 Based on the Doppio ROMS layer abstract and [this paper about it](https://gmd.copernicus.org/articles/13/3709/2020/), I think we can clarify this by renaming:

- Mid Atlantic (Doppio ROMS) -> Mid Atlantic (Doppio ROMS, Surface Only)
- Mid Atlantic (Doppio Bottom) -> Mid Atlantic (Doppio ROMS 3D)

Both of these layers come from a model that is using sigma for depth.
In the MARACOOS ca

[2022-03-14 14:54] mpiannucci commented on #215
https://docs.mapbox.com/mapbox-gl-js/example/mapbox-gl-draw/
https://github.com/mapbox/mapbox-gl-draw

[2022-03-14 19:44] #384 closed

[2022-03-14 19:45] #385 closed

[2022-03-14 19:47] #387 closed

[2022-03-14 19:48] #389 closed

[2022-03-17 20:42] jamesdoyle21 opened #390 "Add a Scale to the Map View"
This should live next to the lat/long information

[2022-03-17 20:42] jamesdoyle21 opened #391 "Move Compare Tool to the Left Toolbar"

[2022-03-17 22:08] mpiannucci commented on #390
Below I think

[2022-03-22 19:24] mpiannucci opened #392 "Colorscale slider clips negative values"
![Screen Shot 2022-03-22 at 3 23 00 PM](https://user-images.githubusercontent.com/1832671/159559581-53aed270-7b74-4f43-8dbb-c059c92dda75.png)

[2022-03-23 19:46] mpiannucci opened #393 "Wave direction is upside down in Observation View chart"
http://20.85.242.58/?permalink=N4IgtghgDgQjD2APEAuUB9Azgd1aANgHYDmqAtAOwUB0AnAMy0AcTFATAGwCMADB7QFY2AGhD4IAF1T0aFLkwE8ubLvQ4AWCuq7qAvqPSEApnjElyHDtTYDabHp27qOA9aPFSU6ttba07TPTq9DwCTAy6+uDQAMoSAJ74JmggAJYAJqggEABOAMYA4qmYACrwUPDEOdAAFql5IKKEEGDJIGUVVbX1jSASNQCuYABGzan4WTUSElCYKAD085hGOQBuK9S5ecTF8IT4qcbUefBg81s7mPM5RpgSSyur9bfzAOrwOfjp6B3w6ACy0HmgKgMUeK3mEnGRnmPFhsN6d0SyVA6xymFSe1QTFEmHgA3yt1MEnKlW

[2022-03-24 19:25] cpaternostro opened #394 "Add ENC background or background overlay to display nautical charts"
Announcement from NOAA https://nauticalcharts.noaa.gov/data/gis-data-and-services.html#enc-display-services

With the ENC charts available, we are able to add a background of charts that look like the old paper charts that are familiar to all older mariners.

The ECDIS Display Service is available in two formats:

[Esri REST Service](https://gis.charttools.noaa.gov/arcgis/rest/services/MCS/ENCOnli

[2022-03-24 19:48] kvmartin001 opened #395 "Add basic opacity and color picker to Custom Layer editor"
- Opacity: slider
- Color: H/S/L picker

[2022-03-24 19:51] kvmartin001 opened #396 "Add line, polygon measurement tool"
Second part of what is discussed here https://github.com/asascience/ott-coops/issues/215
This will be a separate Map Tool.

[2022-03-28 14:37] jamesdoyle21 opened #397 "Zeta to MLLW not recognized for validation"

[2022-03-28 15:04] nguyandy opened #398 "Parameter depth display shows as undefined when value is 0"
Looks like something broke along the way. This also breaks the TimeSeries requests because the elevation parameter is not included.

<img width="382" alt="Screen Shot 2022-03-28 at 11 03 15 AM" src="https://user-images.githubusercontent.com/43226410/160427926-a3fed392-1e12-4eb3-832e-d91101f33a17.png">

[2022-03-28 18:08] nguyandy commented on #393
@mpiannucci

Issue seems to be with ncwms/pyxms.
The data we get is being plotted as expected.
It looks like we're getting the incorrect values back from the GetTimeseries request.

Here's a permalink where we can test with a single timestep
http://20.85.242.58/?permalink=N4IgtghgDgQjD2APEAuUB9Azgd1aANgHYDmqAtAOwUB0AnACwBsFADAByMCsAzPfQEwAaEPggAXVN0bUAjK06cW3NhW6qW9AL7D0hAKZ4RJcs2rMBq1R0b0Nw0RJS3q

[2022-03-28 18:47] jamesdoyle21 opened #399 "Remove Active Tropical Cyclones Data Layer Theme Info Button"
This is the only theme that has the info button. And it just says bruh

![image](https://user-images.githubusercontent.com/82955395/160465815-c279c939-60e9-4c51-871c-ca5ca0c23c35.png)

[2022-03-28 18:54] ndellicarpini commented on #399
all we would have to do to remove the info button here is to update the themes catalog to not have a info field for `Active Tropical Cyclones`. But it would probably make more sense to re-create the theme file, as 1.) it's still hosted on github 2.) I'm not sure if all of the layer ids used in this theme file is accurate. Also, it would be nice to actually put proper info in the info sections (may

[2022-03-28 19:01] jamesdoyle21 opened #400 "Add Summaries to Info Button on Certain Data Layers"
For the following layers (NWPS layers) use this description:

"The Nearshore Wave Prediction System (NWPS) provides on-demand, high-resolution nearshore wave model guidance to U.S. coastal WFOs, triggered in real time by forecast wind grids prepared and submitted by the individual offices. NWPS is maintained and developed by NCEP's Environmental Modeling Center (EMC) in collaboration with a number

[2022-03-28 19:03] jamesdoyle21 opened #401 "Remove Data Layers from Maracoos Catalog"
- MARACOOS Sturgeon Presence
- ChesROMS Alkalinity 3D
- CBOFS Channel layer

[2022-03-28 19:23] jamesdoyle21 opened #402 "Add Surface / Bottom Labels to Depth Slider for 3D Depth Layers"
I don't think we want these labels showing all the time, so if there was a way to add them as a tooltip, that would be ideal. But I am open to other suggestions here.

For the elevation 3D slider, we should note the surface, but don't need a label for the upper end of that slider.

[2022-03-28 19:33] ndellicarpini commented on #399
ok, the plan of attack here is to create a real theme catalog file in `s3\oceansmap\themes`. Maybe I'll write up infos for each theme, maybe I won't, we'll cross that bridge when we get there.

[2022-03-28 19:38] jamesdoyle21 opened #403 "Virtual Stations - Add Select All Button, Unselect All Button, and Change Delete All to Delete Checked"
![image](https://user-images.githubusercontent.com/82955395/160473746-e507767f-a3f9-4c14-a41d-d7b6ec5270a5.png)

[2022-03-28 19:42] jamesdoyle21 opened #404 "Virtual Stations - Move "Set Location with map click" Button"
From Sheri: "Also in Virtual Station tool, I think the “Set location with map click” button looks a little awkward next to the “save” button. I would suggest either changing it to an icon of a buoy/waypoint that has the “set location with map click” text when you hover over it, or moving the button above the lat/long text boxes and changing the button text to “Click Map Location” (this second opti

[2022-03-28 19:55] mpiannucci commented on #393
That is super interesting... might have to do with specifying the wind being from or to

[2022-03-28 19:56] jamesdoyle21 opened #405 "Change "Degrees Celsius" to *deg symbol C (And F for Farenheit)"
Most of the water temp layers are correct, but the following 3 need to be changed to match the rest:
- Mid Atlantic (Doppio ROMS)
- NERACOOS Gulf of Maine (FVCOM Bottom)
- NERACOOS Gulf of Maine (FVCOM Surface)

![image](https://user-images.githubusercontent.com/82955395/160476513-6911f97e-44f6-45e9-8d81-025437f0fc39.png)

[2022-03-28 19:57] jamesdoyle21 opened #406 "Move "Point OBS" Data Layer Category to Top of List (But Below Themes)"

[2022-03-28 20:06] jamesdoyle21 opened #407 "Color Palette Not Changing for Wind Layers"
None of the wind layers in the Maracoos catalog are updating the color palette

![image](https://user-images.githubusercontent.com/82955395/160478186-c1440d1a-c416-4593-8cdb-563b5827f72b.png)

[2022-03-28 20:25] jamesdoyle21 opened #408 "Selecting a Date in the Past on Timeslider that has no Data does not Trigger Warning"
When a data layer is up to date, but the user selects a date in the past that has no data, how should we handle this? We should probably trigger a warning message. The way it works now is the data on the map disappears and the legend shows (what I assume) is the valid date forward of the selected date with data

https://user-images.githubusercontent.com/82955395/160480964-ea7b8b77-64e9-4e2a-a0c5-2

[2022-03-28 20:30] jamesdoyle21 opened #409 "Validation Tool - List Parameters and Comparisons in Alphabetical Order"

[2022-03-28 20:38] jamesdoyle21 opened #410 "Deselect the Zoom to Box Selection Tool by Clicking on Button"
I know the esc key deselects the zoom to box tool, but Sheri didn't find that clear and it's the second time it has come up, so we should also let the user deselect by re-clicking it

[2022-03-28 20:45] nguyandy commented on #400
@jamesdoyle21
These layers have to be updated from the EDS side, key 314

- Boston (NWPS Wave Direction)
- Boston (NWPS Wave Height)
- Boston (NWPS Wave Period)
- Boston (NWPS) – under Winds
- New York/Upton (NWPS)
- Mount Holly/Philadelphia (NWPS)
- SLDMB (Coast Guard drifters)
- Chesapeake (NWPS)
- MARACOOS LIS FVCOM Current

[2022-03-28 20:46] nguyandy commented on #401
@jamesdoyle21

MARACOOS Sturgeon Presence has to removed from the EDS side.

[2022-03-28 20:49] jamesdoyle21 opened #411 "Setting Date Range to Past 12 Months Causes Issue with Date Labels"
![image](https://user-images.githubusercontent.com/82955395/160484632-fe6537e4-6756-4120-afbe-545a93a32bb3.png)

[2022-03-28 21:11] jamesdoyle21 commented on #401
@tgiguere @CoryMartinRPS

[2022-03-28 21:12] jamesdoyle21 commented on #400
@tgiguere @CoryMartinRPS

Thanks @nguyandy, I'll discuss these with Tim and Cory in the standup tomorrow

[2022-03-28 21:13] ndellicarpini commented on #410
We really need a notification or something similar for tools that use the escape key, as I believe all of the gis & measurement tools work the same way. I think I have an idea on how to get this tool to turn off by clicking the button again, but let me preface by saying that both matt and I tried to do this unsuccessfully in the past.

[2022-03-28 21:15] ndellicarpini commented on #407
this is somewhat related to this https://github.com/asascience/ott-coops/issues/334. It turns out that eds wind layers use a different request format for updating things like density & palette that's different from every other eds layer :)

[2022-03-28 21:15] jamesdoyle21 commented on #410
If there is a good way to notify the user about the esc key, I am all for it. Then we don't need to battle with a second click

[2022-03-28 22:07] #223 closed

[2022-03-28 22:08] #358 closed

[2022-03-28 22:08] #391 closed

[2022-03-28 22:10] #249 closed

[2022-03-28 22:14] mpiannucci commented on #410
The second click does make sense, but need a notication of some kind to notify about the escape key, like teams has when you are sharing your screen or whaterver

[2022-03-28 22:16] jamesdoyle21 commented on #394
@kvmartin001 Would we be able to replace the maritime basemap with this new one for OTT but leave the original for our other instances to see what our internal stakeholders like better?

[2022-03-28 22:16] mpiannucci commented on #406
This is the catalogs doing, changing to andy

[2022-03-29 13:30] mpiannucci commented on #405
LMAO celsius is spelled wrong in the FVCOM EDS layer

![Screen Shot 2022-03-29 at 9 30 01 AM](https://user-images.githubusercontent.com/1832671/160622450-40e01071-389c-4a47-92a6-67eef48ae678.png)

[2022-03-29 23:16] kvmartin001 commented on #395
@mpiannucci @jamesdoyle21 This is done, but I developed it on the `measure-tool` branch so I will create a PR  once measure-tool is merged in.

[2022-03-30 00:21] kvmartin001 commented on #394
@jamesdoyle21 That PR should do it.

[2022-03-30 01:02] mpiannucci commented on #397
Tested today, it worked when the backend was responding as it should

[2022-03-30 01:02] #397 closed

[2022-03-30 13:10] cpaternostro commented on #394
Could we have both types of nautical charts available, ENC and RNC?

[2022-03-30 15:37] jamesdoyle21 opened #412 "Remove "All" Button in Data Layer Tool"
Thinking about this, we realized the "All" button in the data layer tool is unnecessary. This button basically just acts as a reset button for the "Active" and "Map View" buttons. These two buttons can reset themselves as they turn blue when activated and reset with a second click.

https://user-images.githubusercontent.com/82955395/160873692-e9f2761e-a553-4d2f-8f20-a0e3e897592d.mp4

[2022-03-30 15:39] jamesdoyle21 opened #413 "Slide the Warning and Error Notifications when Left Drawer is Opened"
We still want to force the user to close these notifications manually, but we should slide them to the left when the user opens the left drawer.

![image](https://user-images.githubusercontent.com/82955395/160875026-2555e01f-112c-4d38-8e85-8328fb921adf.png)

[2022-03-30 15:41] jamesdoyle21 opened #414 "Add Loading Wheel to Individual Data Layers"
Waiting for feedback from stakeholders before starting this

[2022-03-30 15:57] jamesdoyle21 opened #415 "Add Functionality to Screenshot Tool"
From Sheri, "1.	Could we add more features to the screenshot function? For example, can we have virtual station coordinates be included, as well, or the charts and graphs?"

Other ideas:

- Include option to show drawers
- Vertical profile plot
- Create a gif

[2022-03-30 16:02] jamesdoyle21 opened #416 "Add Esc Key Notification when User Selects Zoom Tool or Measure Tool"
This should just be a short, non-invasive 2-3 second pop up that lets the user know the esc key will deactivate the zoom tool and measure tool. Similar to YouTube when you watch a video on full screen.

This can be in addition to a second click to exit the tool

Sheri mentioned not knowing how to cancel out of the zoom tool

![image](https://user-images.githubusercontent.com/82955395/160879418-8dc

[2022-03-30 16:04] jamesdoyle21 commented on #394
@cpaternostro would you like those as 2 separate basemap options? How would you like the UI to look for both?

[2022-03-30 16:05] jamesdoyle21 opened #417 "Add the Tooltip Hover Tool to OTT and MARACOOS Instances"
Bring the tool that FloodMap has into the other instances

[2022-03-31 19:10] kvmartin001 commented on #417
@jamesdoyle21 One issue with this. The hover tool only looks for data at the current timestep. This is fine for Floodmap because each timestep is guaranteed to have data, but catalog layers have gaps.

For example, if you load up MARACOOS the default layer is AVHRR 7-day. The hover tool will look like it's doing nothing because it doesn't show a popup if no data comes back from the server.

I'll h

[2022-03-31 19:24] jamesdoyle21 commented on #417
Well, if no data is available for a selected layer, we already give the user an error or warning message, right? So that may be enough to alert them that there will be no data appearing for the hover tool

[2022-03-31 19:36] kvmartin001 commented on #417
Ah, wait the map tiles just show the most recent timestep. And I can use the same exact function in the tooltip, so the tooltip will always match the tiles. So the only question is what to do if there's a date warning on the layer - show the numbers in orange or just hide them.

[2022-03-31 19:50] ndellicarpini commented on #414
do you mean in the data layer list? they're already there in the legend

[2022-03-31 19:52] kvmartin001 commented on #417
The obs drawer doesn't actually warn you when this happens... not sure if that's right but my PR matches the obs drawer at least

![image](https://user-images.githubusercontent.com/56608780/161137706-4712fc7b-709c-45bb-b62a-ac55011e35a6.png)

[2022-03-31 19:59] jamesdoyle21 commented on #414
No, in the data layer tool itself, like OceansMap 1 has. We need more outside opinion on this, so hold off for now

[2022-03-31 20:01] jamesdoyle21 commented on #417
I think making the text the same color as that warning would get the point across

[2022-04-04 16:39] jamesdoyle21 commented on #394
@cpaternostro OTT now has the ENC nautical chart. If you want to compare to the RNC, Maracoos OM3 still uses that one:

https://dev.oceansmap.com/ott-coops/

[2022-04-04 16:39] #394 closed

[2022-04-04 16:39] #215 closed

[2022-04-04 16:39] #216 closed

[2022-04-04 16:41] #405 closed

[2022-04-04 16:43] #398 closed

[2022-04-04 16:46] #392 closed

[2022-04-04 16:46] #409 closed

[2022-04-04 17:55] kvmartin001 opened #418 "Sync Virtual Station, Custom Layer, and Traffic Light Layer UI"
- Create a selection system for layers that works separately from the enable/disable checkboxes
  - Selected layers will have a blue row background
  - Serves as the way to delete multiple layers for now, can add other actions later
- Add back buttons to all editing screens
- Add confirmation for deleting Traffic Light and Custom layers
- Add Delete Selected button for Traffic Light and Custom lay

[2022-04-04 18:53] jamesdoyle21 opened #419 "Measure Tool Weirdness"
Few things I noticed while testing the measure tool:
- It took me a long time to figure out how to create a line with multiple vertices (and not sure it was the way we intended)
- Opening the GIS Tool allowed me to create a second line to measure which did allow for multiple vertices
- Can the Esc key exit the tool like it does for the bounding box tool?
- When zoomed out, the tooltip does not lan

[2022-04-04 18:53] jamesdoyle21 commented on #419
https://user-images.githubusercontent.com/82955395/161612241-b33958ea-642e-495e-95a3-d4075715e269.mp4

[2022-04-04 18:54] jamesdoyle21 commented on #419
![image](https://user-images.githubusercontent.com/82955395/161612293-b7b95308-e192-458d-b837-59a795de2f44.png)

[2022-04-04 19:03] jamesdoyle21 commented on #419
Steps to reproduce the bug allowing for a second (and third) line to be drawn:
- Draw line with measure tool
- Open a drawer from any tool
- Draw a second line (which allows for multiple vertices)

![image](https://user-images.githubusercontent.com/82955395/161613776-0e0b36e8-6a21-4dea-b978-8ee49493e945.png)

[2022-04-04 19:25] jamesdoyle21 opened #420 "Change Hover Tooltip Tool to Highlight the Theme Color"
Currently it is highlighting RPS purple:

![image](https://user-images.githubusercontent.com/82955395/161617193-a214857f-c989-4f66-8cb3-029a8a95b1c4.png)

[2022-04-04 19:42] kvmartin001 commented on #419
Yeah when Measure is activated, I have a limiter on the drawing functionality that says "only allow one line with two vertices". It looks like the limiter is breaking sometimes.

The drawing session is getting re-initialized when you open and close another tool, and when that happens, the limiter doesn't get applied so you get the normal line drawing tool.

The popup is supposed to appear at the m

[2022-04-04 19:43] jamesdoyle21 opened #421 "Remember Right and Left Map Timeslider Positions with Compare Tool Toggle On/Off"
Currently, the compare tool will remember the layer left/right/whole map settings when the user turns off the compare tool, but it resets the left and right timesliders. If it could remember this it would be useful for things like the permalink and screenshot when the user wants to turn it off briefly.

https://user-images.githubusercontent.com/82955395/161619878-8ea00e57-7127-4352-b149-f7ba846b1f

[2022-04-04 20:12] ndellicarpini commented on #421
does it make sense for the time to be reset if they turn off compare mode & they update the timestamp? The dilemma I'm running into right now is I want the 2 map times to be up to date if compare mode is off and they update the "global" timestamp, but obviously that would clear whatever they had set before they turned off compare mode.

[2022-04-04 20:19] jamesdoyle21 commented on #421
Yeah I would say that if the global timestep changes at all (whether the user changes it or it gets refreshed at a new "now" time), then the times should be reset in the compare tool. We don't want to show out of date data without the user knowing.

But if the global timestamp doesn't change, the compare tool should remember where it was

[2022-04-04 20:21] ndellicarpini commented on #421
ok sounds good, just to be ultra clear these same rules apply to elevation/depth/sigma

[2022-04-04 20:21] jamesdoyle21 commented on #421
Yes, exactly

[2022-04-04 20:41] jamesdoyle21 opened #422 "Custom Layer Tool Draws Underneath Loading Layers"
The easiest way to solve this is probably to only allow the user to start drawing after all layers have loaded in.

![image](https://user-images.githubusercontent.com/82955395/161628370-368bd82a-7bc0-42a2-82a0-dece6dff48d5.png)

[2022-04-04 20:43] jamesdoyle21 opened #423 "Custom Layers Tool - Delete Features without Save Button"
When the user clicks the select tool, then selects an item, that item should delete once they click the trash can. Needing to save a deleted item is confusing.

https://user-images.githubusercontent.com/82955395/161628700-ad2d85bb-7baf-4ac6-bf60-578e7762f7ed.mp4

[2022-04-04 20:45] jamesdoyle21 opened #424 "Reduce the Size of the Custom Layers Drawer"
The drawer takes up way more space than it needs to given the layout. I know we will be adding features, but it still shouldn't be this wide.

![image](https://user-images.githubusercontent.com/82955395/161628998-0a8ac71c-05ff-401d-b2eb-12a259365278.png)

[2022-04-04 20:46] kvmartin001 commented on #422
It might actually be easier to add the editing layer(s) to the sorting config.

@ndellicarpini if I have a bunch of map sources that all start with a certain string, can we configure them to always be on top?

The drawing plugin adds like 30 sources to the map, one for each type of geometry it needs x2 for blue and orange

[2022-04-04 20:48] jamesdoyle21 commented on #422
This is actually happening to me after layers are loaded in now. But I'm not positive what the steps are to reproduce

![image](https://user-images.githubusercontent.com/82955395/161629492-fd21d4c2-c0fa-40f4-b233-e9e70e51a43c.png)

[2022-04-04 20:51] jamesdoyle21 opened #425 "Ask User if they want to Save Custom Layer before Exiting"
Currently, the user can draw a shape, double click to close the polygon so it looks like the shape is complete, and then exit the tool without saving which deletes the shape. We should just have a pop up asking if they would like to save the shape.

[2022-04-04 20:54] ndellicarpini commented on #402
do you want the elevation slider tooltips to only appear while the user's cursor is over the slider itself? Do you want me to add the layer names that would be affected by the chance as well? Sorry the second paragraph is confusing me.

[2022-04-04 20:56] jamesdoyle21 opened #426 "Add Features to Custom Layers Tool"
Ideas:
- Opacity setting
- Color setting
- Round (circle) tool
- Notes section
- Statistics (area, perimeter, distance)
- Integration with virtual stations
- Inputs for corner point lat/longs
- Data layer statistics inside bounds of a shape

There are many more feature that we can add. Feel free to use this issue as a running list.

[2022-04-04 20:58] mpiannucci commented on #423
Very much agree with this

[2022-04-04 21:00] mpiannucci commented on #402
The slider tooltips should always show the current selected value. But the top and bottom buttons james is talking about we would prob only want if you hover the slider

[2022-04-04 21:01] jamesdoyle21 commented on #402
I wasn't sure what would look best here, but my initial thought is to add tooltips to the high and low ends of the elevation slider(s) indicating whether it is the surface (highest point for depth sliders and lowest for atmosphere) or the bottom (lowest for depth sliders)

[2022-04-04 21:02] jamesdoyle21 commented on #402
Yup, exactly

[2022-04-04 21:09] ndellicarpini commented on #402
how would this look though? If the user were to hover over the slider would 2 more tooltips pop up that say "Surface" & "Bottom". So then there could be 3 different tooltips showing on 1 slider at once?

[2022-04-04 22:20] mpiannucci commented on #402
Yeha. They dont necessarily have to be tooltips i guess, they could just be simple labels or something with the value of the min and the max of the slider

[2022-04-05 13:06] ndellicarpini commented on #402
Ok, just to be crystal clear, when the user hovers over an elevation slider, the min & max elevation values show on the ends of that elevation slider?

[2022-04-05 13:29] jamesdoyle21 commented on #402
I know it is a little bulky, but I am thinking "Surface" & "Bottom" would look better as tooltips rather then having it permanently as labels to the slider and further reducing the usable map area

[2022-04-05 13:45] mpiannucci commented on #402
surface and bottom doesnt tell you anything tho, those labels would be useless. Bottom could be anything

[2022-04-05 13:55] ndellicarpini commented on #422
I don't think we can use the layer sorting for the active editing layer because they aren't added to the map like our other layers, they are kind of sneakily added to the map layers. I think you're going to have to move the layers yourself, ignoring any layer sorting.

When the layers get added, find all of those layers with that string and use this: https://docs.mapbox.com/mapbox-gl-js/api/map/#m

[2022-04-05 14:01] ndellicarpini commented on #410
Here's a concept of what I think we should do. I'm torn about how it appears over everything because it looks strange being on top of the drawers & map tools, but I think it's important that it appears over the `Edit Custom Layer` drawer. What do you guys think?

https://user-images.githubusercontent.com/22432482/161771233-85b5414a-f949-4a72-adfb-6aac466d6c2c.mp4

[2022-04-05 14:09] mpiannucci commented on #402
Lets come back to this after we have a chance to discuss more

[2022-04-05 20:30] ndellicarpini commented on #416
Sorry, I kinda stepped on your feet here. I added a notification based on comments here: https://github.com/asascience/ott-coops/issues/410

[2022-04-06 14:32] kvmartin001 commented on #416
No worries, I'm still working on other stuff

[2022-04-06 18:33] kvmartin001 commented on #403
@jamesdoyle21
Just wanted to show you the progress on this. I added a system to select/deselect that is separate from adding/removing the layer from the map:

https://user-images.githubusercontent.com/56608780/162044170-9617bebf-8f9c-4443-b428-cb718f6d580f.mp4

[2022-04-06 18:36] jamesdoyle21 commented on #403
Ahh, nice that's great. Good idea keeping them separate. That'll be useful for these demos with the vineyard windfarm

[2022-04-06 19:39] ndellicarpini opened #427 "Support Permalinks >2000 chars"
We technically allow this right now, but we have the warning for a 2000 char limit. I don't think this limit applies to any browser outside of IE and *maybe* Edge from my research. I've definitely used permalinks longer than 2k chars and they've worked perfectly fine (Chrome), so maybe we could use custom error messages based on user's browser.

Here is some of the info I've found:

- https://www.

[2022-04-06 20:08] ndellicarpini commented on #427
After some **very** scientific research, I think we are server-side limited to 8196 chars, and I don't think any modern browsers would fail to support anything under this limit.

[2022-04-06 20:08] mpiannucci commented on #427
We should have some kind of test URL table we can verify it all against as browser versions change

[2022-04-06 20:38] ndellicarpini commented on #408
I'm going to treat this the same way we handle out-of-date when the data is older than the current timestamp: request the closest data to the timestamp & add a notification that the data is out-of-date

[2022-04-11 20:41] jamesdoyle21 opened #428 "Filter out Station Parameters that have no Data"
OM3 displays all parameters that a station has ever had data for, even if it can no longer collect that parameter type. This results in most stations showing "no results" all the time. This task serves as way to get it on the books for future discussion.

[2022-04-12 18:49] kvmartin001 commented on #419
@jamesdoyle21 the tooltip position is actually "correct" because it's following the geodesic line between the points.

But that's still problematic, so I'm looking for a way around this.

Our map (Mercator)
![image](https://user-images.githubusercontent.com/56608780/163030974-c197a83b-b7ff-4ddd-8302-59db080b0afa.png)

Google Earth 3D
![image](https://user-images.githubusercontent.com/56608780/1630

[2022-04-13 14:39] jamesdoyle21 opened #429 "Add Station Group Name and Data Type to Tooltip when User Hovers Over a Station"
Oceansmap Bug tracker line 7.

For all Point Obs stations - include the group name of the station (CDIP, CO-OPS, NDBC, etc) to the hover tooltip

For CO-OPS stations - include data type in tooltip (Water Level, MetOcean, Currents, Meteorology)

For CO-OPS stations, do these have names in addition to the ID number we show in the tooltip? If so, include this too.

![image](https://user-images.github

[2022-04-13 14:48] jamesdoyle21 opened #430 "Current Direction Station Data shows Intervals of 3hrs in Obs Drawer When Data Intervals are 6 Min"
OceansMap Bug tracker line 17

When the user selects a station with current speed and direction (CO-OPS cb0701) the Obs Drawer plot gives data points every 6 min for water velocity but 3 hrs for direction. We understand the arrows would become unreadable on the plot if they were positioned at ever 6 min, but the hover tooltip should at least give the direction data at every 6min

![image](https://

[2022-04-13 14:51] jamesdoyle21 opened #431 "NOAA New York MLLW (NYOFS) is not turning on, and NOAA New York Currents (NYOFS) is not in the catalog."
OceansMap Bug tracker line 26

NOAA New York MLLW (NYOFS) will not even allow the user to check the box

[2022-04-13 14:55] kvmartin001 commented on #429
@jamesdoyle21 I don't see any title other than the ID numbers.

[2022-04-13 14:59] jamesdoyle21 opened #432 "CBIBS Stations show 2 "Salinity" Parameters - Change one to "Conductivity" and Add Units to Other"
OceansMap bug tracker line 27

CBIBS stations are showing 2 salinity parameters. The one with units m-1 show be relabeled "Conductivity"
The other is properly named Salinity, but needs units "PSU" added to the data

![image](https://user-images.githubusercontent.com/82955395/163209830-2f5e4730-02b9-4218-9ef8-1d7b0c027712.png)

![image](https://user-images.githubusercontent.com/82955395/163209667-b

[2022-04-13 16:24] jamesdoyle21 opened #433 "CO-OPS Stations Legend Items Labels not Aligning"
OceansMap Bug Tracker Line 37

![image](https://user-images.githubusercontent.com/82955395/163226277-bb4121f6-42a1-43b9-b4ca-eba075f4b437.png)

[2022-04-13 16:32] jamesdoyle21 opened #434 "Differentiate CO-OPS Stations with Just Tide Predictions vs Ones with Water Level Measurements"
OceansMap Bug Tracker line 40

This is an issue that has layers and is causing problems down the line. The problem is that CO-OPS stations labeled "Water Levels" contain 2 types of station: stations with both measured water level data and tidal predictions and stations with only tidal predictions. We need to differentiate these because the stations with tidal predictions only have no real-time dat

[2022-04-13 16:36] jamesdoyle21 opened #435 "Validation Tool - Notify User when Comparing Model vs Predictions"
OceansMap Bug Tracker line 63

This is obviously bad because we are validating a prediction with a prediction. The solution is to not allow the user to select these stations in the validation tool. If the user really wants to see both plotted on the same graph, they can do so in the obs drawer.

This relates to #434 because if we can differentiate these stations on the map, it should be easier to

[2022-04-13 16:44] jamesdoyle21 opened #436 "Change Cursor from Open Hand to Finger Point when Hovering Over a Clickable Item (Data Station, Virtual Station) and When Hover Tooltip is Activated"
OceansMap bug tracker line 44

In order to indicate to the user this is a clickable item. Also useful when stations are close together.

In addition, the finger point hand should always be active when the hover tooltip is active and the user is hovering over a spatial layer, to indicate they can see the data at that location.

https://user-images.githubusercontent.com/82955395/163229861-1503bdbc-e

[2022-04-13 16:47] jamesdoyle21 opened #437 "Change Default Max Water Temperature for all Layers to 35 deg C"
It is at 100 deg C now which skews the scale

[2022-04-13 16:47] kvmartin001 commented on #434
For https://github.com/asascience/ott-coops/issues/429 I'm adding the category as an actual data attribute, so the category will be readable by the validation tool.

[2022-04-13 16:52] jamesdoyle21 opened #438 "Allow User to Show Maritime Basemap Either RNC or ENC"
OceansMap Bug tracker line 55

The pint here is to give the user the option to display the maritime map they like.

The UI here will be to add another checkable item to the top of the basemap list. The user can only have RNC or ENC checked, never both.

Look:

[  ] Show Coastlines
[  ] Show Maritime (RNC)
[  ] Show Maritime (ENC)

[2022-04-13 16:57] jamesdoyle21 opened #439 "Apply Activate Tooltip Tool to Data Stations & Fix Double Tooltip Bug"
Ocenasmap bug tracker line 50

2 tasks here.
The first is to include data stations in the hover tooltip tool. This means showing all data parameters and active values in the tooltip.

The second is that with hover tooltip activated, two tooltips show up when the user hovers a data station. Combine all this information into one big tooltip.

https://user-images.githubusercontent.com/82955395/163231

[2022-04-13 17:00] jamesdoyle21 opened #440 "Add an Information Button to Each Tool"
Oceansmap bug tracker line 56

I will come up with these descriptions.

The UI for this will look just like the info section for data layers, with the i button in the top right of the tool drawer

![image](https://user-images.githubusercontent.com/82955395/163232287-71eaadf3-ccdf-421b-a260-24a43433e28d.png)

[2022-04-13 17:19] jamesdoyle21 opened #441 "Bring Full Contour Functionality to Applicable Layers"
OceansMap bug tracker line 57

Some data layers (such as Water Level) do not have the option for contours. We want to bring in this functionality to layers where it applies. Can use Atlantic Wave Height as an example of how we want contours to look.

For OTT, all these layer types should have the contour option:
Wave Height
Wave Period
Water Level
Salinity
Temperature
Pressure
Ice

[2022-04-13 17:25] mpiannucci commented on #441
See the `enableContours` key, when true it shows the the contours section, if false it hides it. So allow them to be shown for any non vector layers (aka arrows)

[code]

[2022-04-13 18:08] jamesdoyle21 opened #442 "Duplicate "Water Level" in Validation Tool Parameter List"
OceansMap bug tracker

They appear to do the same thing, so just look into why it is duplicated

![image](https://user-images.githubusercontent.com/82955395/163235947-9b6fccac-940c-492b-b781-6783ef9441fd.png)

[2022-04-13 18:11] jamesdoyle21 opened #443 "Current direction, water velocity, and water temperature does not populate any comparison model data in validation tool"
OceansMap bug tracker line 64

These parameters do not allow the user to select a comparison model

![image](https://user-images.githubusercontent.com/82955395/163243610-d53e72b6-8987-4bfe-ad4c-bfe149ed218d.png)

[2022-04-14 17:12] jamesdoyle21 opened #444 "Changing Virtual Station Pin Color does not Update in Tool"
Changing the pin color updates the pin on the map, but not in the drawer.

https://user-images.githubusercontent.com/82955395/163439566-f37898fc-e248-4346-bcb5-d8f80fe1a6c0.mp4

[2022-04-14 17:39] mpiannucci commented on #435
I disagree with this one... did chris specify this?

[2022-04-14 17:45] jamesdoyle21 commented on #435
@mpiannucci this came from Jeff. What are your thoughts here? Perhaps a notification to let the user know they are comparing a model to a station prediction?

[2022-04-14 17:47] mpiannucci commented on #435
Yeha in theory kelly had mentioned being able to validate models against other models, so i see nothing wrong with validating against predictions IF and ONLY IF there are no actual measurements available for that given station

[2022-04-14 17:50] jamesdoyle21 commented on #435
I agree with that. As long as we make note of it so the user isn't unknowingly assuming it's measured data. An orange notification in the same place we put the "error no data" should do it

[2022-04-14 17:57] cpaternostro commented on #435
There are often times when I want to compare model v pred.  Likely because
no other data exists.
But in general, this tool should allow anything to be able to be compared
to anything.  The user needs to be aware of GIGO.

--

Chris Paternostro

https://tidesandcurrents.noaa.gov/

On Thu, Apr 14, 2022 at 1:51 PM James Doyle ***@***.***>
wrote:

[2022-04-14 17:58] cpaternostro commented on #444
Nice visual bug report.  I'm going to use this as an example of how to
submit bugs.

--

Chris Paternostro

https://tidesandcurrents.noaa.gov/

On Thu, Apr 14, 2022 at 1:12 PM James Doyle ***@***.***>
wrote:

[2022-04-14 18:03] jamesdoyle21 commented on #444
FYI, the color does eventually change in the toolbar, it just took 10+ minutes

[2022-04-14 18:37] kvmartin001 commented on #444
I'm going to look at this outside the big layer selection PR (it also happens in that branch). Could have something to do with the way these icons get loaded in, which is a bit complicated.

[2022-04-14 18:39] jamesdoyle21 opened #445 "Allow User to Customize Observation Drawer Plot Colors"
This happens pretty frequently when I am trying to plot multiple models in the obs drawer. We talked about doing a better job with the default colors, which we should do, but there are so many data layers that can be plotted together that we should allow the user to customize it.

Another thought is, could we choose the color of each line on the fly? Meaning, the first line plotted is always blue,

[2022-04-18 16:40] #420 closed

[2022-04-18 16:41] #425 closed

[2022-04-18 16:42] #424 closed

[2022-04-18 16:42] #433 closed

[2022-04-18 16:47] jamesdoyle21 commented on #434
The red Water Levels stations are coming up orange on my map. This might be because all the statuions are out of date, but either way, this should be easier to read.

Also, I am not seeing this change in the Client Demo instance

Putting this back into In Progress @kvmartin001

![image](https://user-images.githubusercontent.com/82955395/163842224-0936b90e-0a80-47db-bcf0-a22f2273fbd3.png)

[2022-04-18 16:51] jamesdoyle21 commented on #434
The other thing is there are many stations with Water Level listed as a parameter, but never have data for this.

@cpaternostro can you confirm, should data stations like the one listed below be labeled as a Water Level Station or a Tide Prediction station?

![image](https://user-images.githubusercontent.com/82955395/163842758-6b56fb9b-3f9d-4fdd-9f39-e990619bc527.png)

[2022-04-18 16:59] jamesdoyle21 commented on #435
This issue came up when looking at Tide Predictions in the validation tool. I am getting no comparison options when I select tide predictions as the parameter. Is this a separate issue?

I also cannot use a station with only tide predictions as a comparison for water level - it spits an error.

![image](https://user-images.githubusercontent.com/82955395/163843699-790be28b-272b-4855-92b9-40e07afd64

[2022-04-18 16:59] jamesdoyle21 commented on #435
@kvmartin001 do you have a test case for this issue?

[2022-04-18 17:06] #436 closed

[2022-04-18 17:20] jamesdoyle21 commented on #419
Are we intentionally not allowing for a line with multiple vertices? Is it problematic? I can see it being useful when a user is mapping out a route

[2022-04-18 17:20] #416 closed

[2022-04-18 17:33] #399 closed

[2022-04-18 17:33] #406 closed

[2022-04-18 17:38] jamesdoyle21 commented on #400
I am not seeing these changes for the following layers:

l. MARACOOS LIS FVCOM Current
a. Boston (NWPS Wave Direction)
b. Boston (NWPS Wave Height)
c. Boston (NWPS Wave Period)
f. Boston (NWPS) – under Winds
i. Weatherflow Winds

[2022-04-18 17:48] kvmartin001 commented on #434
@jamesdoyle21 Yeah the color problem is because of the out-of-date fade. Didn't notice on Fri because most stations were current. How's this?
![image](https://user-images.githubusercontent.com/56608780/163850578-d156ecb8-ae9c-41ce-973c-ce3dc75339b0.png)

[2022-04-18 17:57] mpiannucci commented on #419
For now i said to simplify it to start because there was a lot of weirdness with multiple vertices

[2022-04-18 17:58] kvmartin001 commented on #435
@jamesdoyle21 No, in my PR, Tide Predictions was supposed to be stripped as an option in that field completely, so the case above is a bug.
I could fix the bug with a one-line change, but I think we want to just allow Tide Predictions again, which would make the bug a moot point.

[2022-04-18 17:59] mpiannucci commented on #400
the catalog service has been down so its possible they updated it and the catalog didnt grab the new config yet. Trying to make sure that is fixed and running again this afternoon

[2022-04-18 18:01] CoryMartinRPS commented on #400
I'll check it out on the EDS end today, and give the thumbs up if/when it is taken care of.

[2022-04-18 18:16] jamesdoyle21 commented on #401
Still seeing all three here
MARACOOS Sturgeon Presence
ChesROMS Alkalinity 3D
CBOFS Channel layer

[2022-04-18 18:20] jamesdoyle21 commented on #434
Much better

[2022-04-18 18:21] jamesdoyle21 commented on #419
Ok, got it. I'll close it and we can think about adding functionality in the future as needed

[2022-04-18 18:21] #419 closed

[2022-04-18 18:24] jamesdoyle21 commented on #400
Thanks @CoryMartinRPS - take a look at #401 as well, similar issue.

[2022-04-18 19:17] CoryMartinRPS commented on #400
Should be all set on our end now.

[2022-04-18 19:24] kvmartin001 commented on #435
Tide predictions are enabled again (https://github.com/asascience/oceansmap-3/pull/356), so I moved this to Merged. Do we still want a notification?

Perhaps inline like this?
![image](https://user-images.githubusercontent.com/56608780/163863659-70bc3194-6085-4810-8caf-0bde074093bd.png)

[2022-04-18 19:43] jamesdoyle21 commented on #435
Yeah, I like that

[2022-04-18 19:48] jamesdoyle21 commented on #401
I removed MARACOOS Sturgeon Presence and ChesROMS Alkalinity 3D from the EDS Dashboard, but we still need to remove CBOFS Channel layer

[2022-04-18 19:52] jamesdoyle21 commented on #408
I am still getting the warning notification with no data showing up on the map. I should be seeing data for the closest timestep, right?

https://user-images.githubusercontent.com/82955395/163867948-36b12351-60f7-4467-bf31-9d8eac8f3a8f.mp4

[2022-04-18 19:52] #410 closed

[2022-04-18 19:53] #411 closed

[2022-04-18 19:53] #413 closed

[2022-04-18 19:54] #421 closed

[2022-04-18 19:55] #422 closed

[2022-04-18 20:03] #427 closed

[2022-04-18 20:06] #390 closed

[2022-04-18 20:07] #395 closed

[2022-04-18 20:07] #386 closed

[2022-04-18 20:08] #417 closed, assigned to kvmartin001

[2022-04-18 20:09] #404 closed

[2022-04-18 20:09] #403 closed

[2022-04-18 20:11] #423 closed

[2022-04-18 21:39] ndellicarpini commented on #408
I just checked for this layer, and the first time they have data for (1/17 12am GMT) has completely blank data. So by requesting this timestep, we get back a blank layer. I'm not really sure this is in our control unless we add some sort of blank image check.

[2022-04-19 13:21] mpiannucci commented on #401
Hopefully this change pushed through later today for the CBOFs channel layer

[2022-04-20 14:26] jamesdoyle21 opened #446 "Traffic Light Tool Needs to be Wider"
We made this tool thinner to match the other tools in the toolbar, but it is cutting off several of the inputs now. @kvmartin001 I would set this back to its original width.

![image](https://user-images.githubusercontent.com/82955395/164253144-794fbcc0-ae29-4732-aeb3-f33aa4921c19.png)

[2022-04-20 14:32] jamesdoyle21 opened #447 "Expand Hover Tooltip and Observation View Functionality to Traffic Light Tool"
When someone is using the traffic light tool, they will not always have the data layers from the rules of the traffic light layer activated on the map. If we allow the user to turn on the hover tooltip tool to see what the values are at a specific location at the traffic light spatial layer, this will allow them to quickly see what rule is causing that area to be red or yellow. This has come up fo

[2022-04-20 14:51] cpaternostro commented on #434
The data inventory looks like station 8633532 Tangier Island, VA has been
removed.  So, YES, it is solely a Tide prediction station.
https://tidesandcurrents.noaa.gov/inventory.html?id=8633532
But I'm checking others like station 8630111 JESTERS ISLAND, CHINCOTEAGUE
BAY, VA, which is marked as a water levels station, but it is hasn't had
data since 1985 so it should be marked as a Tide predictions

[2022-04-20 15:11] jamesdoyle21 commented on #434
@kvmartin001 see Chris's comment here. Many of the stations we have labeled red (Active WL) have not had water level data here in 30+ years. Correct me if I am wrong here Kevin, but I believe any station that has ever had water level data at one point is labeled red in OceansMap right now. So, @cpaternostro, we would need a list of the co-ops stations that are just tide prediction stations so Kevi

[2022-04-20 15:11] mpiannucci commented on #447
This goes hand in hand with what should be expected in the observation drawer when traffic lights are turned on

[2022-04-20 15:15] jamesdoyle21 commented on #434
This is also a backend issue because parameters that haven't had data in 37 years probably shouldn't be showing up in OceansMap..

[2022-04-20 16:28] kvmartin001 commented on #434
@jamesdoyle21 yes, you're right about the labels. I'm labeling stations by the Parameters list, which is in the OceansMap Catalog Item. The parameters come directly from the data service, https://opendap.co-ops.nos.noaa.gov/ioos-dif-sos/ in this case. Maybe our backend needs a filter that removes parameters from the list if they aren't considered current.

As you said, I could also add logic on th

[2022-04-20 17:04] mpiannucci commented on #434
I would really rather not do that @kvmartin001 It should be all driven from the data availabel in the catalog

[2022-04-20 17:23] jamesdoyle21 opened #448 "Compare Mode Tool - Include Support for Custom Layers"
User should have the option to see their custom layers with the slider

[2022-04-20 17:24] cpaternostro commented on #434
All historic water level stations should have prediction data available.
I guess what the catalog is trying to do is know which stations have
available data.  Could the list on the left of that Opendap SOS service be
the reference of stations that have present day data?  Paint the stations
in that Stations listings for Water Level red and the rest yellow.
STATIONS LISTINGS

   - Active Currents

[2022-04-20 19:13] jamesdoyle21 opened #449 "Permalink Typo"
![image](https://user-images.githubusercontent.com/82955395/164305436-475ef3ae-c6f3-453e-9c18-20f11c9b71fa.png)

[2022-04-20 20:04] jamesdoyle21 commented on #115
This came up in the meeting today, adding to the current sprint

[2022-04-20 20:05] mpiannucci commented on #115
I think the best way to handle this is to add a "Variable" Drop down above the Elevation (or where the elevation is for non 3d layers) where the user picks if the rule is for speed or direction
![ref](https://user-images.githubusercontent.com/1832671/164313774-7a16982e-ac85-4306-bf5e-880f6868a8b7.png)

[2022-04-20 20:17] jamesdoyle21 opened #450 "Support "Active" and "Map View" Data Layer List Buttons in Permalink"
Chris asked for this in the meeting today. This will be useful when they link URLs to specific areas in their website

[2022-04-20 20:18] jamesdoyle21 opened #451 "Bring Active Tropical Storms Layer back into Layers List"

[2022-04-21 02:51] mpiannucci opened #452 "R2 value is incorrectly calculated in the validation tool"
See this for the correct approach, we are missing a step

https://stackoverflow.com/a/65987107

[2022-04-21 18:21] kvmartin001 opened #453 "Observation drawer not opening on mobile"
The Identify Tool Config commit broke the Obs Drawer on mobile. It is supposed to be disabled only while Identify Tool is switched on.

[2022-04-21 19:01] kvmartin001 opened #454 "Layer list changes"
- Change eyes to checkboxes
- Hide the selection context buttons until "Select Layers" button is clicked (iPhone-like UI)

[2022-04-21 20:10] mpiannucci commented on #453
Can we make it so if the identify is on, a long click gives observation drawer maybe?

[2022-04-21 20:48] kvmartin001 commented on #453
@mpiannucci Didn't see this until now, do you mean just the touch event, or should long click work on desktop + mobile?

[2022-04-21 20:58] mpiannucci commented on #453
Just the touch event, so in mobile mode only

[2022-04-21 20:59] mpiannucci commented on #453
We can leave this out for now

[2022-04-22 13:24] #400 closed

[2022-04-22 13:27] #408 closed

[2022-04-22 13:30] jamesdoyle21 commented on #434
I am going to leave this issue open. Let's plan to discuss with @cpaternostro on Tuesday

[2022-04-22 13:37] jamesdoyle21 commented on #435
If the user selects "Tide Predictions" as the parameter for the validation tool, is there a comparison model that is supposed to populate? Lets plan to discuss this in the meeting on Tuesday as well

[2022-04-22 13:51] jamesdoyle21 commented on #401
I removed MARACOOS Sturgeon Presence and ChesROMS Alkalinity 3D from the EDS Dashboard for client MARACOOS | maracoos2016 | 314 4 days ago but I am still seeing both in the data layers list

[2022-04-22 13:53] jamesdoyle21 commented on #432
We still need PSU units added to salinity for this issue

[2022-04-22 13:55] #444 closed

[2022-04-22 13:55] #442 closed

[2022-04-22 13:57] #452 closed

[2022-04-22 14:11] mpiannucci commented on #401
Yeah this is due to the catalog service @nguyandy

[2022-04-22 14:11] mpiannucci commented on #435
Any water level

[2022-04-22 14:18] nguyandy commented on #401
I just flushed the catalog, those layers are gone now

[2022-04-22 15:23] jamesdoyle21 opened #455 "NOAA Global GFS Air Temperature Layer Needs Different Defaults"
If you load this layer it just covers the entire map in gray because the defaults are set to -5 and 35 deg Kelvin. To be consistent with water tempurature, the units should be in celcius and farenheit, not Kelvin. This also brings up the bigger question of, should we use autoscale as the default range when a user loads a layer?

![image](https://user-images.githubusercontent.com/82955395/164744673

[2022-04-22 15:23] jamesdoyle21 commented on #437
Look at issue #455 with this

[2022-04-22 15:23] jamesdoyle21 commented on #455
Look at issue #437 with this

[2022-04-22 15:34] nguyandy commented on #455
Issue with the units being in Kelvin is a data issue.
https://github.com/asascience/oceansmap-3/issues/151

[2022-04-22 15:39] jamesdoyle21 commented on #455
@CoryMartinRPS is this a fix on your end?

[2022-04-22 15:59] mpiannucci commented on #455
No this is IOOS EDS

[2022-04-22 16:01] CoryMartinRPS commented on #455
I don't believe the issue is related to the units, it should be translating to Celcius. However, there is no GFS air temp data this month. I'm looking into it now.

[2022-04-22 16:58] mpiannucci commented on #455
Not your fault, this is from IOOS EDS not normal EDS

[2022-04-25 15:32] jamesdoyle21 opened #456 "For Client Demo Instance, Collapse all Data Layers Categories at Launch"
Make this view the default when the user launches OM Client Demo

![image](https://user-images.githubusercontent.com/82955395/165122666-ca4ff6c4-7ebf-488d-a2e2-7caed4d8b7f1.png)

[2022-04-25 16:44] mpiannucci commented on #456
This should be fed as a prop to `LayerList` from the config file

[2022-04-26 18:13] mpiannucci commented on #434
Data catalog should be updated to use get caps to query station availabaility

https://opendap.co-ops.nos.noaa.gov/ioos-dif-sos/SOS?service=SOS&request=GetCapabilities&version=1.0.0

[2022-04-29 15:09] ndellicarpini commented on #448
This is easy to do, but I really think we need to combine the layer settings & layer details into only a few objects before doing this. Currently in the compare tool (and many others), support for traffic light layers is hardcoded into the tool with basically no other way to do it because of the way we handle our layer settings. To add support for custom layers, all I would have to do is hardcode

[2022-04-29 15:11] mpiannucci commented on #448
Yeah, when you get a chance do you want to work up an example of what the proposed rafactor would look like?

[2022-04-29 16:57] ndellicarpini commented on #448
I think we want to have 2 objects, an extended `mapLayers` and `layerSettings`, which would combine all of the `wmsSettings`, `trafficLightLayers`, `scenarioLayers`, etc. We get rid of all of the `selectedCatalogItems` and `selectedTrafficLightLayers` and just use the `mapLayers` to determine what is selected. I'm not really sure we should do with extents, maybe we make that a 3rd object?

For `ma

[2022-04-29 18:42] mpiannucci commented on #448
This is a good start and lines up with how im thinking we need to move to start being able to rapidly add new types of letters without making the state bloat to be 10 gb or whatever

[2022-05-04 16:35] jamesdoyle21 commented on #440
@kvmartin001 I have the description for these info buttons. When you start working on this let me know and I will send them to you.

[2022-05-04 16:54] jamesdoyle21 commented on #440
This is a duplicate to #363 closing this

[2022-05-04 16:55] jamesdoyle21 commented on #363
@kvmartin001 I have the descriptions for these. When you start working on this let me know.

[2022-05-04 18:45] mpiannucci commented on #115
Im gunna steal this one 🥷

[2022-05-05 15:35] mpiannucci commented on #115
OK so this is actually an NCWMS Limitation: NCWMS doesnt let directional layers to be requested as raster data. I think theres a workaround but have to find it

[2022-05-05 15:45] mpiannucci commented on #115
I reached out to greg williams who i think knows how to do this. In the meantime this is paused here https://github.com/asascience/oceansmap-3/commit/061b8b1b9fb9b1dc3af171ac470b7cc9859675e4

[2022-05-05 19:08] mpiannucci commented on #62
That plot looks a lot like what we already have... ill try to get the powerpoint opened tho

[2022-05-05 19:21] mpiannucci commented on #62
OKay after consulting the powerpoint, what if we just add a custom peak and min extraction, then run the statistics on them. For tides we can make it the default behavior but for the other data types you can turn it on as an option? So like very local minima and local maxima would have the statistics run, and we can export the bias and time delta or whatever for every peak and trough? Not sure the

[2022-05-06 13:47] mpiannucci commented on #115
This is apparently not possible at the moment without patching ncwms, which we really dont want to do for now. We will haev to solve it elsewhere eventually and then that will be back propoagated into OM when it works. Sorry :(

[2022-05-06 17:30] jamesdoyle21 opened #457 "MARACOOS CBEFS 3D Salinity Layer - Vertical Profile Plot is Flipped"
From Sheri, "1.	In OceansMap 3, as expected, the salinity decreases slightly from surface ocean to bottom with my virtual buoy at 37.0323N, 75.2658W. At the surface, I see a salinity of 34.62 and at the bottom, it is 33.37. However, the vertical profile appears to be flipped, as it shows the higher salinity value at depth."

Surface:
![image](https://user-images.githubusercontent.com/82955395/1671

[2022-05-06 17:36] jamesdoyle21 commented on #457
I tested this vs the other Salinity layers and looks like Sheri is right. This is happening for CBEFS but not the others, like CBOFS. The image shows salinity at the surface and the time series is showing 21 where the vertical profile shows 14 at the surface and 21 at the bottom.

CBEFS:
![image](https://user-images.githubusercontent.com/82955395/167184381-0ce090b2-2273-406c-bcb6-2875c974c7f8.png)

[2022-05-06 17:38] jamesdoyle21 commented on #457
CBOFS looks right:
![image](https://user-images.githubusercontent.com/82955395/167184792-3463ed8f-5759-43b0-ac73-d4e74b00e180.png)

[2022-05-06 17:46] jamesdoyle21 commented on #457
The other thing I noticed is the vertical profile plot is in meters while the slider is in sigma. Is this intentional?

[2022-05-06 18:11] jamesdoyle21 opened #458 "MARACOOS CBEFS 3D Water Temp Layer - Vertical Depth Slider is Flipped"
This layer is seeing something similar to #457 however, the opposite is happening. The profile plot looks correct but the spatial layer and timeslider values look wrong. Could this be that the 3D depth slider is flipped? Water should be warmer at the surface in the summer as the profile plot shows.

From Sheri "1.	In OceansMap 3: This one is easiest to test in July 2021 (i.e., a summer month). Tim

[2022-05-06 18:24] jamesdoyle21 opened #459 "Bring MARACOOS CBEFS 3D Total Alkalinity Layer to Maracoos and CBP Instances"

[2022-05-06 18:31] jamesdoyle21 opened #460 "MARACOOS CBEFS 3D DIC Layer Overlapping X-Axis labels on Profile Plot"
This is weird because it only happens in certain locations. When you click around for awhile you can find it. Some locations will move the labels to show diagonally. This is how it should be handled whenever there is overlap on horizontal labels. See the screenshots below.

![image](https://user-images.githubusercontent.com/82955395/167197144-04d03fb7-3168-4eeb-bf44-22a7e9fbf02d.png)

![image](htt

[2022-05-06 18:38] jamesdoyle21 opened #461 "Improve Default Plot Line Colors"
This is a known problem that has come up before. Sometimes the line colors on the plots in OM3 are too similar to tell apart. We need to either:

1. Improve the default plot line colors (set a default list perhaps so the first line plotted is always blue, second red, third green, etc)
2. Allow the user to customize line colors

![image](https://user-images.githubusercontent.com/82955395/167198302-

[2022-05-06 18:45] jamesdoyle21 opened #462 "Bring Edit Layer Options to CBEFS Biological Prediction Layers"
The following 4 layers do not have any option besides opacity for edit layer. The client asked for a specific gradient for the pH layer, but instead of changing the defaults we can give the user the ability to change the gradient for all of these layers.

They are:
MARACOOS CBEFS 3D Aragonite Saturation

MARACOOS CBEFS 3D Oxygen

MARACOOS CBEFS 3D pH

MARACOOS CBEFS 3D DIC

![image](https://user-i

[2022-05-06 18:49] jamesdoyle21 commented on #458
Same thing is happening for MARACOOS CBEFS 3D pH:

Surface:
![image](https://user-images.githubusercontent.com/82955395/167199885-511fd6a9-32a8-4c15-abee-6271d97ecdb0.png)

Depth:
![image](https://user-images.githubusercontent.com/82955395/167199904-f307fdf7-cc81-4587-bdab-7fc1ad8061aa.png)

[2022-05-06 18:59] jamesdoyle21 opened #463 "Change Units for MARACOOS CBEFS 3D Oxygen"
From Sheri, "1.	The units for oxygen should be mg/L. In both OM3 and CBP, I see mmol Oxygen/m3. Tim has mentioned that the units are already at mg/l, so I’m not sure why it doesn’t show up like that on OceansMap."

![image](https://user-images.githubusercontent.com/82955395/167201125-4187e4cd-2ff5-4e37-9300-753f054043e7.png)

[2022-05-06 19:05] jamesdoyle21 commented on #458
Same thing for MARACOOS CBEFS 3D Oxygen

![image](https://user-images.githubusercontent.com/82955395/167201881-b2bb1193-e391-4b8d-80ca-6b71140676e7.png)

[2022-05-06 19:24] jamesdoyle21 opened #464 "MARACOOS CBEFS 3D Oxygen Layer Changing Colors at Different Zoom Levels"
Weird stuff happening here...

https://user-images.githubusercontent.com/82955395/167204313-1ad6f6a1-0906-46f3-bcf5-480ed90978f8.mp4

[2022-05-06 19:43] jamesdoyle21 opened #465 "Bring CBEFS Sea Nettles & V. Vulnificus Layers into MARACOOS and CBP Instances"
From the client, "For Sea nettles and Vibrio, yes, I would put these under BGC predictions. (Note that “vulnificus” and neither “Sea” nor “Nettles” should be capitalized, technically.)"

[2022-05-06 19:51] jamesdoyle21 opened #466 "Remove "High Res" from Obs Drawer Labels for CBEFS Layers"
Remove "High Res" from following layers

MARACOOS CBEFS 3D Aragonite Saturation
MARACOOS CBEFS 3D Oxygen
MARACOOS CBEFS 3D pH
MARACOOS CBEFS 3D DIC
Sea Nettles
V Vulnificus
CBEFS Alkalinity

![image](https://user-images.githubusercontent.com/82955395/167207634-fd27cda1-9de8-4c3d-a920-f34bf75ffa98.png)

[2022-05-06 19:58] jamesdoyle21 commented on #402
This came up again from the Ches Bay Hypoxia client. Let's figure this out. Client asked for "surface" and "bottom" as tooltips for 3D depth layers and I think that is plenty informative enough but I'm open to suggestions

[2022-05-09 14:38] ndellicarpini commented on #363
@jamesdoyle21 if the descriptions are done I can take this issue

[2022-05-09 14:39] nguyandy commented on #463
Coastmap is still showing units as Millimole Oxygen/m³
https://coastmap.com/ecop/wms.aspx?service=WMS&REQUEST=GetFeatureInfo&EXCEPTIONS=application/vnd.ogc.se_xml&BBOX=-75.43874239174339,36.84751026605647,-75.2387423917434,37.04751026605647&SERVICE=WMS&QUERY_LAYERS=CHES_ROMS_HIGH_RES_OXYGEN&FEATURE_COUNT=5&LAYERS=CHES_ROMS_HIGH_RES_OXYGEN&WIDTH=101&HEIGHT=101&FORMAT=image/png&STYLES=&INFO_FORMAT=t

[2022-05-09 14:57] nguyandy commented on #462
I don't think we support gradient selection for EDS(coastmap) layers on OM3 atm.

Here are some available gradients/style
<img width="138" alt="Screen Shot 2022-05-09 at 10 55 56 AM" src="https://user-images.githubusercontent.com/43226410/167437770-6af2596e-7e08-4889-bf17-0cfb3509fc50.png">
s available atm from EDS.

If the client wants a new custom color gradient, we will need help from the EDS t

[2022-05-09 15:00] nguyandy commented on #457
@kvmartin001 can you take over this one please

[2022-05-09 15:17] jamesdoyle21 commented on #363
Yeah @ndellicarpini I can send you these

[2022-05-09 15:23] jamesdoyle21 commented on #463
Sounds good, thanks @nguyandy

[2022-05-09 16:04] nguyandy commented on #462
@jamesdoyle21 yup! And after they have that custom gradient created, we'll need the style name from the EDS team

[2022-05-09 16:05] mpiannucci commented on #462
Not only that, wed need the png to accompany it

[2022-05-09 16:07] nguyandy commented on #459
This has to be done from the EDS side.
The layer has to be added to EDS key 314 (MARACOOS).

The layer is already in the CBP catalog (EDS key 1189)

[2022-05-09 16:14] jamesdoyle21 commented on #459
Good call Andy, I just updated this to be included in 314 on the EDS side

[2022-05-09 16:16] nguyandy commented on #464
This is an EDS issue.

Open this link multiple times
https://coastmap.com/ecop/wms.aspx?service=WMS&request=GetMap&version=1.1.1&layers=CHES_ROMS_HIGH_RES_OXYGEN&styles=VIMS_OXYGEN_REVERSE&width=426&height=706&format=image/png&transparent=true&time=2022-05-08T00:00:00.000Z&srs=EPSG:3857&bbox=-8613065.329826884,4377061.516340709,-8352655.415399621,4808640.685079252

And the colors change, even thou

[2022-05-09 16:22] nguyandy commented on #462
Those 9 colors are the only ones that are available on OM1. (where we have the png to accompany it in the dropdown)

EDS does support more options, (ex: VIMS_OXYGEN_REVERSE from the other issue)
but we'll need the name/png as well like Matt mentioned if we want to display it in the layer options.

[2022-05-09 16:23] nguyandy commented on #465
These will have to be added to the MARACOOS key as well.

and I'll update data-catalog to put these in the correct category.

[2022-05-09 17:03] jamesdoyle21 commented on #464
@CoryMartinRPS can you take a look at this?

[2022-05-09 17:06] jamesdoyle21 commented on #465
Added these both to MARACOOS 314.

[2022-05-09 17:12] CoryMartinRPS commented on #464
I'm looking into it. I have a hunch as to what could be causing this.

[2022-05-09 20:45] ndellicarpini opened #467 "Allow users to input "-" in range inputs"
`RangeSlider.tsx` validates its inputs within the component so that it can't send `NaN` to whatever component is using it. However, this validation does not allow a user to type "-" in the input fields, so negative numbers can't be typed (as the first character is "-", the validation immediately blocks the user's input, it works fine if you type your number then go back and add the "-").

[2022-05-09 21:13] ndellicarpini commented on #372
so what is the way forward with this issue? are search modifiers a good idea here?

[2022-05-09 22:03] mpiannucci commented on #372
I think we need to leave this to discussion with clients a bit. OM1 got around this by always showing selected layers, that would work here but is kind of confusing behavior

[2022-05-10 12:30] mpiannucci commented on #372
@jamesdoyle21 lets discuss expected behavior for this with chris today

[2022-05-10 13:38] ndellicarpini commented on #447
this is blocked on 2 fronts.
1.) kevin is working on the tooltip provider and I need to update the provider to support data from multiple `catalogItems`
2.) we should maybe wait until after the layer refactor? I imagine w/ the refactor, all of the data for a tooltip/observation providers (outside of the `MapSourceContext`) will be in the internal extents of the layer, so that change in itself will

[2022-05-10 14:04] jamesdoyle21 commented on #372
Sounds good

[2022-05-10 14:14] jamesdoyle21 commented on #462
@CoryMartinRPS

[2022-05-10 15:34] CoryMartinRPS commented on #464
It should be all set now.

[2022-05-10 16:13] CoryMartinRPS commented on #462
VIMS_OXYGEN_REVERSE is actually a pre-reversed version of the VIMS_OXYGEN style that already exists. I have added that to the oxygen layer, so you can now just do "styles=VIMS_OXYGEN" when requesting CHES_ROMS_HIGH_RES_OXYGEN and get the non-reversed version. If the style string is empty, it will default to the reversed.

Samples (copied from previous issue):
https://coastmap.com/ecop/wms.aspx?ser

[2022-05-10 16:45] ndellicarpini commented on #430
I looked into this a little bit and unfortunately this would be a lot of work. Highcharts doesn't seem to support allowing interactions between wind barb objects, with the barbs themselves being the only interaction points for the tooltip. In order to fix this, we would probably need to fork Highchart and make substantial changes to how its tooltip works. Is something like that worth the work?

[2022-05-10 17:07] ndellicarpini commented on #443
Can you give an example of at least 1 comparison that should exist for each of the parameters mentioned in the issue?

[2022-05-10 17:36] ndellicarpini commented on #438
I can work on this, but where do we get the tile urls for rnc & enc? Also which one are we using now?

[2022-05-10 17:42] mpiannucci commented on #430
Not right now its not. Just curious, can you make sure that oceansmap 1 has the same behavior?

[2022-05-10 17:48] mpiannucci commented on #443
Currents are tough because they are vector groups. You will need to specifically request -mag or -dir to get the comparison. I dont think i brought over the code for doing directional comparisons,  so stick with just doing the speed for now and we can open another ticket for the directional comparisons

This one has current data:

Observation:
cb0102

Comparison:
CBOFS

[2022-05-10 17:48] ndellicarpini commented on #430
OM1 actually doesn't use barbs at all, it uses a scatter plot with the y axis being the direction of the current. I'm pretty sure if we did that on OM3 it would show all of the data, but is this a better visualization than the barbs?

![Screenshot 2022-05-10 134607](https://user-images.githubusercontent.com/22432482/167690919-aff3df32-3608-485b-9a3d-8dcd054382ac.png)

[2022-05-10 17:51] mpiannucci commented on #438
RNC
https://github.com/asascience/oceansmap-3/blob/92bb49275fd84026a79232a371e221c363d96dca/frontend/src/config/ott-coops.tsx#L67

ENC
https://github.com/asascience/oceansmap-3/blob/92bb49275fd84026a79232a371e221c363d96dca/frontend/src/config/maracoos.tsx#L82

We are using a different one for each of these clients. I kinda think its confusing to choose between them, but if they want it we can do i

[2022-05-10 17:53] mpiannucci commented on #430
Not sure @jamesdoyle21 Lets add this to the list to discuss with chris tomorrow

[2022-05-10 18:08] jamesdoyle21 commented on #443
For example, I should be able to validate water temperature for station 44008 vs Global HYCOM Navy. I can compare the two in the obs drawer, but I don't have the option to select the parameter or comparison in the validation tool

![image](https://user-images.githubusercontent.com/82955395/167694148-53546a09-ceaa-4001-8ec4-73ebed3859a8.png)

[2022-05-10 18:11] jamesdoyle21 commented on #438
Let's give both options to each of the clients for now. If, in the future, they only want one they can play around with both and let us know which they like better.

[2022-05-10 18:20] jamesdoyle21 commented on #430
Could we remove direction altogether from the plot and only show it in the tooltip, like the vertical profile plot does?

EDIT: I see that it is 2 different parameters for station data. Scratch that

@cpaternostro we will bring this up in our meeting tomorrow

[2022-05-11 05:33] nguyandy commented on #465
The capitalization on these titles can/should be done on the EDS side ("OM Title" field).

[2022-05-11 12:16] jamesdoyle21 commented on #465
OK, all set. Looks a bit odd being inconsistent with the rest of the layers, but it is what they asked for specifically. I can always change it back later.

[2022-05-11 12:16] #465 closed

[2022-05-11 16:53] jamesdoyle21 commented on #464
Looks good now, thanks Cory

[2022-05-11 16:53] #464 closed

[2022-05-11 16:57] jamesdoyle21 commented on #462
@CoryMartinRPS I see the gradients coming up now for Oxygen. Do the other 3 layers have that option? MARACOOS CBEFS 3D Aragonite Saturation, MARACOOS CBEFS 3D pH, MARACOOS CBEFS 3D DIC?

And yes, if you could move forward with creating a gradient with blue denoting high values and red denoting low, that would be great.

[2022-05-11 21:04] cpaternostro opened #468 "Add the following NOS models to the data catalog:"
1. SJROFS
2. NGOFS2
3. LEOFS
4. LOOFS
5. LSOFS
6. SFBOFS

[2022-05-12 15:44] jamesdoyle21 commented on #434
@cpaternostro we now have Tide Prediction stations separated from Water Level stations. Can you take a look at this and let us know your thoughts? Most of the stations labeled Water Level only have tide prediction data because the water level data gives a warning and is grayed out. Curious on your thoughts how to best handle these labels